/* Board */

.board{
	//margin-top: 40px;
	/*.search{
		border: 1px solid $lineColor;
		text-align: center;
		padding: 21px 0;
		select{
			vertical-align: middle;
			width: 120px;
		}
		input[type="text"]{
			width: 260px;
			height: 34px;
			line-height: 32px;
			margin-left: 5px;
		}
		.btn-search{
			background: url(../_images/common/header_form_search.png) no-repeat 20px 10px #1c2733;
			height: 34px;
			padding: 0 20px 0 40px;
			margin-left: 5px;
			vertical-align: middle;
			color: #fff;
		}
	}*/
    border-top: 2px solid #000;
	&.list{
		ul{
			display: flex;
			border-bottom: 1px solid $lineColor;
			width: 100%;
			li{
				line-height: 50px;
                &.title{
                    width: calc(100% - 90px);
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    text-indent: 10px;
                    letter-spacing: -0.33px;
                    a{
                        width: 100%;
                        display: block;
                        @include ellipsis();
                    }
                    a:hover{
                        color: $primary;
                    }
                    
                }
                &.date{
                    width: 90px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.29px;
                    text-align: center;
                    color: #767676;
                    
                }
			}
		}
	}
	.board-view-top{
		padding: 30px 0;
		border-bottom: 1px solid $lineColor;
		.title{
			font-size: 26px;
			color: #000;
			text-align: center;
			font-weight: 700;
			margin-bottom: 20px;
            letter-spacing: -0.2px;
		}
		.date{
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.33px;
			text-align: center;
            color: #000;
		}
	}
	.board-view-con{
		padding: 50px;
        line-height: 22px;
        border-bottom: 1px solid $lineColor;
        img{
            width: 100%;
        }
	}

    &.thumb{
        .items{
            padding-top: 30px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: calc((100% - 60px) / 3);
                margin-left: 30px;
                &:nth-child(3n+1){
                    margin-left: 0;
                }
                margin-bottom: 60px;
                img{
                    width: 100%;
                }
                .title{
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -0.15px;
                    color: #000000;
                }
                .date{
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: -0.12px;
                    color: #454545;                
                    }

            }
        }
    }
    &.faq{
        border-top: none;
        table{
            border-top: 2px solid #000;
            tr{
                &.q{
                    cursor: pointer;
                    .cate{
                        width: 50px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #f94450;
                        letter-spacing: -0.33px;
                        text-align: center;
                        background: #eeeeee;
                    }
                    .title{
                       width: calc(100% - 50px);
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: -0.33px;
                        color: #000000;     
                    }
                }
                &.a{
                    display: none;
                    .cate{
                        width: 50px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #33dc9e;
                        letter-spacing: -0.33px;
                        text-align: center;
                        background: #eeeeee; 
                    }
                    .text{
                       width: calc(100% - 50px);
                        font-size: 14px;        
                        line-height: 1.71;
                        letter-spacing: -0.59px;                    
                        color: #454545; 
                        background: #eeeeee; 
                    }
                }      
            }
        }
    }
}

.btn-wrap{
        text-align: center;
        padding-top: 40px;
        a{
            display: inline-block;
            width: 100px;
            text-align: center;
            color: #454545;
            line-height: 50px;
            border: 1px solid $lineColor;
            border-radius: 8px;
            margin: 0 5px;
            font-size: 16px;
            &.solid{
                background: $primary;
                color: #fff;
                border: none;
            }
        }
    }


@media screen and (max-width:960px){
    
    .board{
        &.list{
            ul{
                li{
                    line-height: 40px;
                    &.title{
                        font-size: 14px;
                    }
                    &.date{
                        width: 90px;
                        font-size: 12px;

                    }
                }
            }
        }
        .board-view-top{
            padding: 20px 0;
            .title{
                font-size: 20px;
                margin-bottom: 10px;
                line-height: 28px;
            }
            .date{
                font-size: 12px;
            }
        }
        .board-view-con{
            padding: 20px;
            line-height: 22px;
            border-bottom: 1px solid $lineColor;        
        }

        &.thumb{
            .items{
                justify-content: space-between;
                .item{
                    width: calc((100% - 30px) / 2);
                    margin-left: 30px;
                    &:nth-child(2n+1){
                        margin-left: 0;
                    }
                }
            }
        }
        &.faq{
            border-top: none;
            table{
                border-top: 2px solid #000;
                tr{
                    &.q{
                        .cate{
                            font-size: 14px;
                            line-height: 22px;
                        }
                        .title{
                           width: calc(100% - 50px);
                            font-size: 14px;
                            line-height: 22px;    
                        }
                    }
                    &.a{
                        .cate{
                            font-size: 14px;
                            line-height: 22px; 
                        }
                        .text{
                           font-size: 14px;
                            line-height: 22px; 
                        }
                    }      
                }
            }
        }
    }
    .btn-wrap{
        padding-top: 20px;
        a{
            width: 80px;
            line-height: 40px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width:768px){
    
    .board{
        &.thumb{
            .items{
                .item{
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 30px;
                    .title{
                        font-size: 14px;
                    }
                    .date{
                        font-size: 12px;         
                    }
                }
            }
        }
    }
    
}


/* paging */

#paging{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    
    .wrap{
        display: flex;
        align-items: center;
        a{
            line-height: 40px;
            text-align: center;
            width: 40px;
            height: 40px;
            &.page_ll{
                margin-right: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-ll.png")no-repeat center;
            }
            &.page_l{
                margin-right: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-left.png")no-repeat center;
            }
            &.page_r{
                margin-left: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-right.png")no-repeat center;
            }
            &.page_rr{
                margin-left: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-rr.png")no-repeat center;
            }
            &.on {
                font-weight: 500;
                color: $primary;
            }
        }        
    }
}


@media screen and (max-width:960px){
    
    #paging{
        margin-top: 40px;

        .wrap{
            a{
                line-height: 30px;
                width: 30px;
                height: 30px;
                &.page_ll,&.page_l,&.page_r,&.page_rr{
                    background-size: 15px;
                }
            }        
        }
    } 
}

