/* Board */

.board{
	margin-top: 40px;
	.search{
		border: 1px solid $lineColor;
		text-align: center;
		padding: 21px 0;
		select{
			vertical-align: middle;
			width: 120px;
		}
		input[type="text"]{
			width: 260px;
			height: 34px;
			line-height: 32px;
			margin-left: 5px;
		}
		.btn-search{
			background: url(../_images/common/header_form_search.png) no-repeat 20px 10px #1c2733;
			height: 34px;
			padding: 0 20px 0 40px;
			margin-left: 5px;
			vertical-align: middle;
			color: #fff;
		}
	}
    border-top: 2px solid #434446;
	&.list{
		ul{
			display: flex;
			border-bottom: 1px solid $lineColor;
			width: 100%;
			li{
				line-height: 50px;
                &.title{
                    width: calc(100% - 90px);
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    text-indent: 10px;
                    letter-spacing: -0.33px;
                    a{
                        width: 100%;
                        display: block;
                        @include ellipsis();
                    }
                    a:hover{
                        color: $primary;
                    }
                    
                }
                &.date{
                    width: 90px;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.29px;
                    text-align: center;
                    color: #767676;
                    
                }
			}
		}
	}
	.board-view-top{
		padding: 30px 0;
		border-bottom: 1px solid $lineColor;
		.title{
			font-size: 26px;
			color: #000;
			text-align: center;
			font-weight: 700;
			margin-bottom: 20px;
            letter-spacing: -0.2px;
		}
		.date{
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.33px;
			text-align: center;
            color: #000;
		}
	}
	.board-view-con{
		padding: 50px;
        line-height: 22px;
        border-bottom: 1px solid $lineColor;        
	}
	.file-wrap{
		border-top: 1px solid $lineColor;
		border-bottom: 2px solid #333;
		ul{
			display: table;
			line-height: 60px;
			width: 100%;
			li{
				display: table-cell;
				&.key{
					width: 15%;
					text-align: center;
					color: #333;
					font-weight: 700;
				}
				&.value{
					width: 85%;
					a.file{
						background: url(../_images/common/btn_file.png) no-repeat 0 8px;
						color: $primary;
						line-height: 28px;
						padding-left: 20px;
						display: inline-block;
					}
				}
			}
		}
	}
	.bottom{
		margin-top: 50px;
		border-top: 1px solid $lineColor;
		ul{
			border-bottom: 1px solid $lineColor;
			@include clearfix;
			li{
				line-height: 60px;
				float: left;
				&.key{
					width: 130px;
					font-weight: 700;
					padding-left: 60px;
					@include box-sizing(border-box);
				}
				&.link{
					width: calc(100% - 130px);
					a{
						display: block;
						color: #333;
						width: 100%;
						@include ellipsis;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			&.prev .key{
				background: url(../_images/_board/prev_arrow.png) no-repeat 0 0;
				background-size: contain;
			}
			&.next .key{
				background: url(../_images/_board/next_arrow.png) no-repeat 0 0;
				background-size: contain;
			}
		}
	}
	.btn-wrap{
		text-align: right;
		a{
			text-align: center;
		}
	}
    &.thumb{
        .items{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: calc((100% - 60px) / 3);
                margin-left: 30px;
                &:nth-child(3n+1){
                    margin-left: 0;
                }
                margin-bottom: 60px;
                img{
                    width: 100%;
                }
                .title{
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -0.15px;
                    color: #000000;
                }
                .date{
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: -0.12px;
                    color: #454545;                
                    }

            }
        }
    }
}

.board.thumb-list{
	.list{
		padding: 30px 0;
		a{
			display: block;
		}
		.thumb{
			width: 370px;
			line-height: 1;
		}
		.thumb-text{
			padding: 0 40px;
			vertical-align: top;
			.title{
				font-size: 18px;
				color: #333;
			}
			.text{
				margin-top: 30px;
				line-height: 24px;
			}
		}
	}
}

.board-media-view-con{
	display: table;
	border-bottom: 2px solid #333;
	.media-list{
		display: table-cell;
		width: 300px;
		padding: 40px 30px;
		background: #f5f5f5;
		vertical-align: top;
		@include box-sizing(border-box);
		dt{
			font-size: 18px;
			font-weight: 700;
			color: $primary;
			margin-bottom: 10px;
		}
		dd{
			@include listStyle(10px, 30px, "../_images/common/bu_line.png",15px);
			font-size: 15px;
			font-weight: normal;
			&.on{
				a{
					color: #333;
					font-weight: 700;
				}
			}
		}
	}
	.media-con{
		padding: 50px 0 30px 50px;
		.subtitle{
			overflow-y: auto;
			padding-top: 30px;
			height: 220px;
			@include box-sizing(border-box);
		}
	}
}


/* paging */

#paging{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    
    .wrap{
        display: flex;
        align-items: center;
        a{
            line-height: 40px;
            text-align: center;
            width: 40px;
            height: 40px;
            &.page_ll{
                margin-right: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-ll.png")no-repeat center;
            }
            &.page_l{
                margin-right: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-left.png")no-repeat center;
            }
            &.page_r{
                margin-left: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-right.png")no-repeat center;
            }
            &.page_rr{
                margin-left: 10px;
                border: solid 1px #ccc;
                border-radius: 100%;
                background: url("../_images/common/icon-rr.png")no-repeat center;
            }
            &.on {
                font-weight: 500;
                color: $primary;
            }
        }        
    }
}

