/*  GNB  */

header{
	
    .util-wrapper{
        width: 100%;
        border-bottom: 1px solid $lineColor;
        display: flex;
        justify-content: center;
        .wrap{
            width: 100%;
            padding: 0 15px;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            .site{
                display: flex;
                a{
                    width: 120px;
                    line-height: 30px;
                    background-color: rgba(1, 44, 61, 0.1);
                    font-size: 14px;
                    color: #767676;
                    letter-spacing: -0.57px;
                    text-align: center;
                    &.on{
                        background: #012c3d;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
            .util{
                a{
                    color: #767676;
                    padding: 0 10px;
                    line-height: 30px;
                }
            }
        }
    }
}