/* Font - Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Font - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Layout */

.container-full{
	width: 100%;
}
.container{
	width: 1200px;
	margin: 0 auto;
}


/* Responsive */

.mobile-only{display: none !important;}

@media screen and (max-width:960px){
	
	.mobile-hide{display: none !important;}
	.mobile-only{display: block !important;}
}

.point{
	color: $primary !important;
}

