/*   Main   */

@import "compass/css3";
@import "color";
@import "mixin";
@import "form";
@import "table";
@import "layout";
@import "header";
@import "footer";
@import "board";
@import "modal";


////////////////////     COMMON     ////////////////////


.sub-top{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 266px;
    .left-box{
        width: 61.56vw;
        height: 220px;
        background: $primary;
        position: absolute;
        left: 0;
        z-index: -1;
    }
    .right-box{
        width: 49.06vw;
        height: 140px;
        background: url("../_images/common/sub-top01.png")no-repeat;
        position: absolute;
        top: 126px;
        right: 0;
        box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25);
    }
    .text-wrap{
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        .title{
            height: 45px;
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            margin-top: 50px;
            margin-left: 200px;
            letter-spacing: -0.2px;
        }
        .sub-title{
            height: 48px;
            font-size: 16px;
            font-weight: 300;            
            color: #fff;
            margin-top: 5px;
            margin-left: 200px;
            line-height: normal;
            letter-spacing: -0.11px;        
        }                
    }
}

.cs{
    .sub-top{
        .right-box{
            background-image: url("../_images/common/sub_top_notice.png");
        }
    }
}

@media screen and (max-width:960px){
    
    .sub-top{
        height: calc(20vw + 20px);
        .left-box{
            width: 90vw;
            height: 20vw;
        }
        .right-box{
            width: 90vw;
            height: 20vw;
            background-size: contain;
            background-position: 20px 30%;
            background-color: $point;
            top: 20px;                      
        }
        .text-wrap{
            display: none;
        }
    }
}

h2{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.25px;
    color: #000;
}

h3{
    margin-top: 60px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
}

@media screen and (max-width:960px){
    
    h2{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    h3{
        margin-top: 30px;
        font-size: 18px;
    }
    
}

.sub-con-wrap{
    width: 100%;
    max-width: 1200px;        
    margin: 0 auto;
    padding: 0 15px;
    strong{
        font-weight: 500;
    }
    
}


////////////////////     sub page     ////////////////////
////////////////////     힐링페스타 소개     ////////////////////


.festa-title{
    margin-top: 110px;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.4px;
    color: #012c3d;
    text-align: center;

}
.festa-text{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.25px;
    text-align: center;
    color: #012c3d;
    line-height: 42px;
    }


////////////////////     힐링뉴스     ////////////////////



////////////////////     고객센터     ////////////////////


#map{
    width: 100%;
    height: 500px;
    background: #d8d8d8; 
}

.addr{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.13px;
    color: #000000;
}




