/*   Main   */

@import "compass/css3";
@import "color";
@import "mixin";
@import "form";
@import "table";
@import "layout";
@import "header";
@import "footer";
@import "board";
@import "modal";



////////////////////     inputs     ////////////////////

.inputs-wrap{
    border-top: 2px solid #000;
    border-bottom: 1px solid $lineColor;
    padding-top: 30px;
    ul{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        li{
            width: calc(100% - 150px);
            &:first-child{
                font-size: 16px;
                color: #000;
                letter-spacing: -0.33px;
                font-weight: 500;
                text-indent: 10px;
                width: 150px;
            }
            p{
                display: flex;
                width: 100%;
                &.point{
                    margin-top: 10px;
                }
                a{
                    width: 130px;
                    background: #dedede;
                    color: #454545;
                    font-size: 14px;
                    letter-spacing: -0.59px;
                    text-align: center;
                    line-height: 40px;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:960px){
    
   .inputs-wrap{
        padding-top: 20px;
        ul{
            margin-bottom: 20px;
            li{
                width: calc(100% - 100px);
                &:first-child{
                    font-size: 12px;
                    width: 100px;
                }
                input[type="text"],input[type="password"]{
                    width: 100%;
                }
                p{
                    flex-wrap: wrap;
                    input[type="text"],input[type="password"],input[type="password"]{
                        width: calc(100% - 100px);
                    }
                    a{
                        width: 90px;
                        font-size: 12px;
                    }
                    input[type="checkbox"] + label{
                        margin-bottom: 10px;
                    }
                }
                select{
                    width: 100%;
                }
            }
        }
    } 
    
}

////////////////////     sub page     ////////////////////
////////////////////     힐링페스타 소개     ////////////////////


.festa-title{
    margin-top: 110px;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.4px;
    color: #012c3d;
    text-align: center;

}
.festa-text{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.25px;
    text-align: center;
    color: #012c3d;
    line-height: 42px;
    }

@media screen and (max-width:960px){
    
   .festa-title{
        margin-top: 50px;
        font-size: 20px;
        line-height: 30px;

    }
    .festa-text{
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px;
        } 
    
}


////////////////////     힐링뉴스     ////////////////////


////////////////////     힐링프로그램     ////////////////////

.programs{
    width:100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    .item{
        .title{
            margin-top: 10px;
            text-align: center;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: -0.25;
            color: #000000;
        }
    }
}

////////////////////     고객센터     ////////////////////


#map{
    width: 100%;
    height: 500px;
    background: #d8d8d8; 
}

.addr{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.13px;
    color: #000000;
}

@media screen and (max-width:960px){
    
    #map{
        height: 300px; 
    }
    
   .addr{
        margin: 20px 0;
        font-size: 14px;
    } 
}


