/*   Main   */
/* form */
select { width: 250px; /*padding: .58em .5em;  */ padding-left: 15px; font-family: inherit; border: 1px solid #ccc; background: url(../_images/_form/select.png) no-repeat right center #fff; background-size: contain; vertical-align: middle; height: 45px; border-radius: 0px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select::-ms-expand { display: none; }

@media screen and (max-width: 960px) { select { padding-left: 10px; height: 40px; } }
input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 43px; height: 45px; text-indent: 20px; width: 400px; font-size: 20px; border: 1px solid #ccc; vertical-align: middle; padding-left: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 38px; height: 40px; text-indent: 10px; font-size: 16px; } }
input[type="button"] { height: 30px; line-height: 30px; background: #092d67; color: #fff; text-align: center; min-width: 130px; border: none; font-size: 14px; cursor: pointer; margin: 0 2px; -moz-appearance: none; -webkit-appearance: none; }

a.file { background: url(../_images/common/btn_file.png) no-repeat 10px center; line-height: 28px; color: #092d67; padding-left: 35px; padding-right: 10px; display: inline-block; }

textarea { width: 100%; height: 350px; padding: 20px; border: 1px solid #e5e5e5; color: #666; margin-top: 40px; line-height: 24px; vertical-align: baseline; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { a.file { font-size: 12px; padding-left: 30px; }
  textarea { height: 220px; padding: 15px; margin-top: 10px; line-height: 17px; font-size: 12px; } }
.checks input[type="radio"], .checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.checks input[type="radio"]:focus, .checks input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
.checks input[type="radio"]:focus + label, .checks input[type="checkbox"]:focus + label { border: 1px dotted #000; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 35px; cursor: pointer; color: #666; min-width: 0; line-height: 25px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 40px; position: relative; }
.checks input[type="radio"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 25px; height: 25px; vertical-align: middle; margin-right: 10px; background: url(../_images/_form/radio.png) no-repeat left bottom; }
.checks input[type="radio"] + label:last-of-type { margin: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 35px; cursor: pointer; color: #666; min-width: 0; line-height: 25px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 25px; height: 25px; vertical-align: top; margin-right: 10px; background: url(../_images/_form/checkbox.png) no-repeat left bottom; }
.checks input[type="radio"]:checked + label:before, .checks input[type="checkbox"]:checked + label:before { background-position: left top; }

@media screen and (max-width: 960px) { .checks input[type="radio"] + label, .checks input[type="checkbox"] + label { padding-left: 30px; font-size: 12px; line-height: 20px; }
  .checks input[type="radio"] + label:before, .checks input[type="checkbox"] + label:before { height: 20px; width: 20px; background-size: 20px; }
  .checks input[type="radio"] + label { margin-right: 30px; }
  .checks input[type="radio"] + label:last-of-type { margin: 0; } }
input[type="file"] { padding: 0; margin: 0px; background: #f5f5f5; border: 1px solid #e5e5e5; width: 400px; }

input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #343f4e; line-height: 45px; margin: 0px; width: 100px; cursor: pointer; }

input[type="file"]::-ms-value { border: 0; height: 45px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

@media screen and (max-width: 960px) { input[type="file"] { width: 100%; } }
/* Layout */
.container-full { width: 100%; }

.container { width: 1200px; margin: 0 auto; }

/* Header */
h2, h3 { color: #000; }

h2 { font-size: 30px; }

h3 { font-size: 18px; }

/* Skip nav */
#skip-nav a { display: block; line-height: 50px; color: #fff; font-size: 16px; text-indent: 20px; background: #092d67; width: 0; height: 0; position: absolute; left: 0; overflow: hidden; z-index: 100; }
#skip-nav a:focus { width: 200px; height: 50px; }

/* ListStyle */
.list-style01 { margin-top: 20px; }
.list-style01 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 10px; font-size: 14px; font-weight: normal; }

.list-style02 { margin-top: 20px; }
.list-style02 > li { line-height: 35px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 15px; font-size: 14px; }
.list-style02 > li p { font-weight: normal; line-height: 24px; }

.list-style03 { margin-top: 20px; }
.list-style03 > li { font-size: 14px; list-style: decimal; margin-left: 20px; line-height: 24px; margin-bottom: 10px; }

.list-style04 { margin-top: 20px; }
.list-style04 > li { position: relative; padding-left: 25px; line-height: 24px; font-size: 14px; }
.list-style04 > li span { position: absolute; top: 0; left: 0; font-size: 16px; }

.list-style05 { margin-top: 20px; }
.list-style05 > li { position: relative; padding-left: 40px; margin-bottom: 10px; font-size: 14px; }
.list-style05 > li span { position: absolute; top: 0; left: 0; color: #3fa7e4; padding-right: 10px; border-right: 1px solid #e5e5e5; }

@media screen and (max-width: 960px) { .list-style01 { margin-top: 10px; }
  .list-style01 > li { line-height: 18px; padding-left: 8px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 7px; font-size: 12px; margin-bottom: 5px; }
  .list-style01 > li span { font-size: 12px; }
  .list-style02 { margin-top: 10px; }
  .list-style02 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 9px; font-size: 12px; }
  .list-style02 > li p { font-size: 12px; line-height: 17px; margin-bottom: 10px; }
  .list-style03 { margin-top: 10px; }
  .list-style03 > li { font-size: 12px; margin-left: 10px; line-height: 17px; margin-bottom: 5px; }
  .list-style04 { margin-top: 10px; }
  .list-style04 > li { position: relative; padding-left: 20px; line-height: 17px; font-size: 12px; margin-bottom: 5px; }
  .list-style04 > li span { font-size: 12px; }
  .list-style05 { margin-top: 10px; }
  .list-style05 > li { font-size: 12px; margin-left: 15px; line-height: 17px; margin-bottom: 5px; } }
/* Responsive */
.mobile-only { display: none !important; }

@media screen and (max-width: 960px) { section { padding-top: 60px; padding-bottom: 30px; }
  .mobile-hide { display: none !important; }
  .mobile-only { display: block !important; } }
.point { color: #092d67 !important; }

.ribbon { height: 140px; background: url(../_images/main/global_bg.jpg) center; overflow: hidden; }
.ribbon .container { position: relative; margin-top: 30px; }
.ribbon .links { width: 100%; height: 110px; overflow: hidden; position: relative; }
.ribbon .links .wrap-con { position: absolute; left: 0; top: 0; width: 200%; }
.ribbon .links .wrap-con .wrap { float: left; width: 1200px; }
.ribbon .links .wrap-con .wrap a { display: block; width: 50%; height: 70px; margin-top: 20px; text-align: center; float: left; padding: 5px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ribbon .links .wrap-con .wrap a:last-child { border-left: 1px solid #09347b; }
.ribbon .prev { position: absolute; top: 0; left: 0; width: 30px; height: 110px; text-indent: -9999px; background: url(../_images/main/global_prev.png) no-repeat center left; z-index: 1; }
.ribbon .next { position: absolute; top: 0; right: 0; width: 30px; height: 110px; text-indent: -9999px; background: url(../_images/main/global_next.png) no-repeat center left; z-index: 1; }
.ribbon .close { position: absolute; top: -10px; right: 0; z-index: 2; }
.ribbon .close button { width: 30px; height: 30px; background: url(../_images/main/global_close.png) no-repeat center; text-indent: -9999px; }
.ribbon .close input[type="radio"], .ribbon .close input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.ribbon .close input[type="radio"]:focus, .ribbon .close input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
.ribbon .close input[type="radio"]:focus + label, .ribbon .close input[type="checkbox"]:focus + label { border: 1px dotted #000; }
.ribbon .close input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 20px; padding-right: 10px; cursor: pointer; color: #fff; min-width: 0; line-height: 30px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.ribbon .close input[type="checkbox"] + label:before { position: absolute; left: 0; top: 9px; display: inline-block; content: ""; width: 14px; height: 14px; vertical-align: middle; margin-right: 10px; background: url(../_images/main/check.png) no-repeat left bottom; }
.ribbon .close input[type="radio"]:checked + label:before, .ribbon .close input[type="checkbox"]:checked + label:before { background-position: left top; }

/*  GNB  */
header .global { height: 35px; background: #092d67; }
header .global .family { float: left; }
header .global .family a { display: block; width: 120px; line-height: 35px; margin-right: 1px; background: #10223f; color: #fff; font-weight: 700; text-align: center; float: left; }
header .global .family a.on { background: #fff; color: #092d67; }
header .global .util { float: right; }
header .global .util .login { background: #3fa7e4; display: block; width: 77px; color: #fff; text-align: center; float: left; line-height: 35px; }
header .global .util .search { position: relative; float: left; }
header .global .util .search .btn-search { width: 35px; height: 35px; background: url(../_images/common/hearder_search.png) no-repeat top center; border-right: 1px solid #224276; text-indent: -9999px; }
header .global .util .search .btn-search.on { background-position: bottom center; background-color: #051b3f; }
header .global .util .search .search-wrap { position: absolute; width: 269px; height: 76px; background: #093479; top: 35px; right: 0; display: none; z-index: 1; }
header .global .util .search .search-wrap .wrap { border-bottom: 1px solid #fff; width: 229px; margin: 15px auto; }
header .global .util .search .search-wrap .wrap:after { content: ""; display: block; clear: both; }
header .global .util .search .search-wrap .wrap input[type="text"] { border: none; height: 35px; width: 194px; float: left; background: transparent; color: #fff; text-indent: 0; }
header .global .util .search .search-wrap .wrap .btn-form { width: 35px; height: 35px; background: url(../_images/common/header_form_search.png) no-repeat center; text-indent: -9999px; }
header .global .util .sitemap { width: 35px; height: 35px; background: url(../_images/common/header_sitemap.png) no-repeat center; border-right: 1px solid #224276; text-indent: -9999px; float: left; }
header .global .util .language { width: 135px; float: left; position: relative; }
header .global .util .language button { width: 100%; color: #fff; background: url(../_images/common/header_arrow.png) no-repeat right top; line-height: 35px; text-align: left; text-indent: 15px; height: 35px; }
header .global .util .language button.on { background-position: right bottom; }
header .global .util .language .lan-wrap { position: absolute; top: 35px; left: 0; width: 100%; height: 35px; display: none; z-index: 2; }
header .global .util .language .lan-wrap a { display: block; width: 100%; line-height: 35px; background: #092d67; color: #fff; text-indent: 15px; border-bottom: 1px solid #324e79; }
header .global .util .language .lan-wrap a:hover { background: #3fa7e4; }
header .global .util .ribbon-close { width: 105px; text-align: left; text-indent: 15px; background: url(../_images/common/header_arrow.png) no-repeat right bottom #051b3f; color: #fff; line-height: 35px; }
header .global .util .ribbon-close.on { background-position: right top; }
header .menu-wrap { position: relative; }
header .menu-wrap .container-full { border-bottom: 1px solid #e5e5e5; }
header .menu-wrap .container-full .container:after { content: ""; display: block; clear: both; }
header .menu-wrap h1 { float: left; width: 180px; height: 75px; }
header .menu-wrap h1 a { display: block; width: 100%; height: 100%; text-indent: -9999px; background: url(../_images/common/ci.png) no-repeat left top; }
header .menu-wrap #gnb { float: right; }
header .menu-wrap #gnb > li { float: left; margin-left: 50px; }
header .menu-wrap #gnb > li > a { line-height: 75px; font-size: 18px; font-weight: 700; color: #333; }
header .menu-wrap #gnb > li .bg { position: absolute; background: #06204b; z-index: 1; left: 0; width: 100%; padding: 50px 0; display: none; }
header .menu-wrap #gnb > li .bg .layout { display: table; width: 100%; }
header .menu-wrap #gnb > li .bg .layout > li { display: table-cell; width: 10%; }
header .menu-wrap #gnb > li .bg .layout > li > a { font-size: 18px; font-weight: 500; color: #3fa7e4; }
header .menu-wrap #gnb > li .bg .layout > li ul { margin-top: 15px; }
header .menu-wrap #gnb > li .bg .layout > li ul li a { line-height: 25px; color: #fff; font-weight: 100; }
header .menu-wrap #gnb > li .bg .layout > li ul.d3 { display: none; }

/*  FOOTER  */
footer { padding-top: 60px; border-top: 1px solid #e5e5e5; }
footer .container:after { content: ""; display: block; clear: both; }
footer .container .item { width: 25%; float: left; }
footer .container .item .title { font-size: 24px; font-weight: 300; margin-bottom: 20px; }
footer .container .item .address { line-height: 30px; }
footer .container .item .address span { display: inline-block; margin-right: 20px; }
footer .container .item a { display: block; line-height: 30px; }
footer .foot { margin-top: 60px; line-height: 52px; background: #eef1f4; }
footer .foot .left { float: left; line-height: 50px; }
footer .foot .right { float: right; }
footer .foot .right img { float: left; margin-left: 20px; }

#modal-wrap { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: none; }
#modal-wrap .modal-con { position: absolute; left: 50%; top: 50%; background: #fff; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#modal-wrap .modal-con .modal-close { display: block; width: 96px; height: 96px; position: absolute; top: 0; right: 0; background: url(../_images/common/modal_close.png) no-repeat center; text-indent: -9999px; }

.modal-sitemap { width: 1120px; }
.modal-sitemap .top p { font-size: 40px; font-weight: 100; color: #fff; line-height: 96px; text-indent: 50px; background: #092d67; }
.modal-sitemap .sitemap-con { padding: 0 50px 50px; width: 100%; height: 600px; overflow-y: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.modal-sitemap .sitemap-con .menu { padding: 50px 0 30px 0; border-bottom: 1px solid #e5e5e5; }
.modal-sitemap .sitemap-con .menu .title { font-size: 30px; font-weight: 100; color: #111; }
.modal-sitemap .sitemap-con .menu ul { margin-top: 30px; }
.modal-sitemap .sitemap-con .menu ul:after { content: ""; display: block; clear: both; }
.modal-sitemap .sitemap-con .menu ul > li { float: left; width: 25%; }
.modal-sitemap .sitemap-con .menu ul > li > a { font-size: 18px; font-weight: 700; color: #092d67; }
.modal-sitemap .sitemap-con .menu ul > li ul { margin-top: 15px; }
.modal-sitemap .sitemap-con .menu ul > li ul li { float: none; width: 100%; }
.modal-sitemap .sitemap-con .menu ul > li ul li a { font-size: 14px; color: #666; line-height: 24px; font-weight: 300; }

.modal-social { width: 390px; }
.modal-social .top p { font-size: 40px; font-weight: 100; color: #fff; line-height: 96px; text-indent: 50px; background: #092d67; }
.modal-social .social-con { padding: 30px 0; width: 100%; text-align: center; }
.modal-social .social-con a { display: inline-block; margin: 0 10px; padding-top: 55px; min-width: 45px; }
.modal-social .social-con a.facebook { background: url(../_images/common/sns_facebook.png) no-repeat top center; }
.modal-social .social-con a.twitter { background: url(../_images/common/sns_twitter.png) no-repeat top center; }
.modal-social .social-con a.blog { background: url(../_images/common/sns_blog.png) no-repeat top center; }
.modal-social .social-con a.url { background: url(../_images/common/sns_url.png) no-repeat top center; }

h2 { font-size: 40px; font-weight: 100; color: #333; }
h2 strong { font-size: 40px; font-weight: 500; color: #333; }

.visual { width: 100%; height: 699px; position: relative; }
.visual .ui-wrap { position: absolute; left: 0; bottom: 40px; text-align: center; z-index: 1; width: 100%; }
.visual .ui-wrap .ui { display: inline-block; vertical-align: top; }
.visual .ui-wrap .ui li { display: inline-block; margin: 0 5px; }
.visual .ui-wrap .ui li button { width: 20px; height: 20px; border: 4px solid #fff; text-indent: -9999px; background: transparent; border-radius: 100%; }
.visual .ui-wrap .ui li button.on { background: #fff; }
.visual .ui-wrap .play { width: 20px; height: 20px; display: inline-block; text-indent: -9999px; background: url(../_images/main/visual_play.png) no-repeat left top; border-radius: 100%; vertical-align: top; margin-left: 5px; }
.visual .ui-wrap .play.on { background-position: left bottom; }
.visual .item { height: 699px; background-size: cover; background-position: center; position: absolute; left: 0; top: 0; width: 100%; }
.visual .item a { display: block; width: 100%; height: 100%; text-indent: -9999px; }

.step { text-align: center; padding: 60px 0; }
.step .tab button { width: 166px; line-height: 41px; border: 2px solid #cecece; text-align: center; color: #888; font-size: 18px; margin: 0 5px; border-radius: 50px; background: #fff; }
.step .tab button.on { border-color: #092d67; color: #092d67; }
.step .date1 { margin: 35px auto 0; max-width: 1200px; }
.step .date1:after { content: ""; display: block; clear: both; }
.step .date1 .d1 { width: 960px; background: url(../_images/main/step_arrow.png) no-repeat center; margin-left: 40px; float: left; margin-bottom: 20px; }
.step .date1 .d1 span { display: inline-block; color: #092d67; background: #fff; padding: 0 20px; }
.step .date1 .d2 { float: left; width: 200px; margin-bottom: 20px; color: #3fa7e4; }

.intro { background: #06204b; padding: 60px 0; text-align: center; }
.intro h2 { color: #fff; }
.intro h2 strong { color: #fff; }
.intro .container:after { content: ""; display: block; clear: both; }
.intro .container .item { float: left; width: 25%; margin-top: 30px; height: 400px; padding-top: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.intro .container .item:nth-child(1) { background: url(../_images/main/intro1.jpg) no-repeat center; }
.intro .container .item:nth-child(2) { background: url(../_images/main/intro2.jpg) no-repeat center; padding-top: 240px; }
.intro .container .item:nth-child(3) { background: url(../_images/main/intro3.jpg) no-repeat center; }
.intro .container .item:nth-child(4) { background: url(../_images/main/intro4.jpg) no-repeat center; padding-top: 240px; }
.intro .container .item .title { font-size: 24px; color: #333; font-weight: 700; }
.intro .container .item .text { margin-top: 10px; line-height: 18px; }
.intro .container .item a { background: #3fa7e4; color: #fff; line-height: 35px; padding: 0 30px; border-radius: 15px; display: inline-block; margin-top: 20px; }

.univ { padding: 60px 0 180px; }
.univ h2 { text-align: center; }
.univ .links { margin-top: 40px; }
.univ .links:after { content: ""; display: block; clear: both; }
.univ .links .item { float: left; width: 20%; line-height: 100px; }
.univ .links .item:nth-child(1) { background: url(../_images/main/ico1.jpg) no-repeat left top; }
.univ .links .item:nth-child(2) { background: url(../_images/main/ico2.jpg) no-repeat left top; }
.univ .links .item:nth-child(3) { background: url(../_images/main/ico3.jpg) no-repeat left top; }
.univ .links .item:nth-child(4) { background: url(../_images/main/ico4.jpg) no-repeat left top; }
.univ .links .item:nth-child(5) { background: url(../_images/main/ico5.jpg) no-repeat left top; }
.univ .links .item a { display: block; height: 100%; font-size: 22px; font-weight: 100; padding-left: 110px; letter-spacing: -2px; }
.univ .wrap { margin-top: 40px; }
.univ .wrap:after { content: ""; display: block; clear: both; }
.univ .wrap .press { float: left; width: 600px; }
.univ .wrap .press h3 { font-size: 24px; }
.univ .wrap .press .press-wrap { margin-top: 20px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #e5e5e5; }
.univ .wrap .press .press-wrap:after { content: ""; display: block; clear: both; }
.univ .wrap .press .press-wrap img { float: left; display: block; }
.univ .wrap .press .press-wrap .text-wrap { float: left; margin-left: 40px; width: 260px; }
.univ .wrap .press .press-wrap .text-wrap .title { font-size: 16px; font-weight: 500; line-height: 22px; width: 100%; height: 46px; display: -webkit-box; white-space: normal; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
.univ .wrap .press .press-wrap .text-wrap .text { margin-top: 20px; line-height: 22px; height: 44px; display: -webkit-box; white-space: normal; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
.univ .wrap .press .press-wrap .text-wrap a { background: #3fa7e4; color: #fff; line-height: 35px; padding: 0 30px; border-radius: 15px; display: inline-block; margin-top: 20px; }
.univ .wrap .press .list { margin-bottom: 20px; }
.univ .wrap .press .list:after { content: ""; display: block; clear: both; }
.univ .wrap .press .list a { float: left; font-size: 16px; color: #333; display: block; width: 480px; height: 18px; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
.univ .wrap .press .list .date { float: right; }
.univ .wrap .movie { float: right; }

.dept { background: #eef1f4; }
.dept .container { position: relative; }
.dept .image { position: absolute; left: 0; top: -120px; margin-left: -30px; width: 100%; }
.dept .image a { float: left; display: block; margin-left: 30px; width: calc((100% - 90px) / 3); height: 240px; text-align: center; padding-top: 80px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.dept .image a:nth-child(1) { background: url(../_images/main/univ_image1.jpg) no-repeat center; }
.dept .image a:nth-child(2) { background: url(../_images/main/univ_image2.jpg) no-repeat center; }
.dept .image a:nth-child(3) { background: url(../_images/main/univ_image3.jpg) no-repeat center; }
.dept .image a .title { color: #fff; border-top: 1px solid #fff; border-bottom: 1px solid #fff; display: inline-block; padding: 5px 0; }
.dept .image a .text { margin-top: 15px; color: #fff; line-height: 24px; }
.dept .image a:nth-child(2) .title { color: #3fa7e4; border-top: 1px solid #3fa7e4; border-bottom: 1px solid #3fa7e4; }
.dept .image a:nth-child(2) .text { color: #666; }
.dept .dept-wrap { padding-top: 180px; padding-bottom: 60px; }
.dept .dept-wrap h2 { text-align: left; }
.dept .dept-wrap .wrap { margin-top: 40px; }
.dept .dept-wrap .wrap:after { content: ""; display: block; clear: both; }
.dept .dept-wrap .wrap dl { float: left; width: 25%; }
.dept .dept-wrap .wrap dl dt { font-size: 24px; font-weight: 700; color: #092d67; margin-bottom: 20px; }
.dept .dept-wrap .wrap dl dd { line-height: 25px; }
.dept .dept-wrap .wrap dl dd a { display: block; }

.notice { padding: 60px 0; }
.notice .container:after { content: ""; display: block; clear: both; }
.notice .notice-wrap { float: left; }
.notice .notice-wrap h2 .btn-more { display: inline-block; margin-left: 10px; width: 20px; height: 40px; background: url(../_images/main/notice_more.jpg) no-repeat center; text-indent: -9999px; vertical-align: top; }
.notice .notice-wrap .list-wrap { margin-top: 30px; width: 640px; }
.notice .notice-wrap .list-wrap:after { content: ""; display: block; clear: both; }
.notice .notice-wrap .list-wrap .list { float: left; width: 300px; border-right: 1px solid #e5e5e5; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.notice .notice-wrap .list-wrap .list a { display: block; font-size: 16px; color: #333; width: 90%; height: 44px; line-height: 22px; font-weight: 700; display: -webkit-box; white-space: normal; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
.notice .notice-wrap .list-wrap .list .date { margin-top: 20px; }
.notice .notice-wrap .list-wrap .list:nth-child(2) { margin-left: 40px; border: none; }
.notice .cs { width: 532px; height: 160px; float: right; background: url(../_images/main/cs_bg.jpg) no-repeat center; padding: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.notice .cs p { color: #fff; font-size: 24px; font-weight: 100; }
.notice .cs p strong { color: #fff; font-size: 24px; }
.notice .cs .cs-wrap { margin-top: 20px; }
.notice .cs .cs-wrap .left { color: #fff; float: left; width: 170px; line-height: 22px; border-right: 1px solid #3286b6; }
.notice .cs .cs-wrap .left strong { color: #fff; display: inline-block; width: 70px; }
.notice .cs .cs-wrap .right { float: left; margin-left: 20px; color: #fff; font-weight: 700; font-size: 38px; }
