/*   Main   */
/* form */
select { width: 250px; /*padding: .58em .5em;  */ padding-left: 5px; font-family: inherit; border: 1px solid #cdcdcd; font-size: 14px; background: url(../_images/common/select.png) no-repeat right center #fff; background-size: contain; vertical-align: middle; height: 30px; border-radius: 0px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select::-ms-expand { display: none; }

input[type="text"], input[type="password"], input[type="submit"] { height: 20px; border: 1px solid #e5e5e5; width: 250px; vertical-align: middle; padding-left: 5px; font-size: 12px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="button"] { height: 30px; line-height: 30px; background: #005891; color: #fff; text-align: center; min-width: 130px; border: none; font-size: 14px; cursor: pointer; margin: 0 2px; -moz-appearance: none; -webkit-appearance: none; }

a.file { border: 1px solid #e5e5e5; background: url(../_images/common/btn_file.png) no-repeat 10px center; line-height: 28px; font-weight: 700; padding-left: 35px; padding-right: 10px; display: inline-block; }

/* table */
table { border-top: 2px solid #333; text-align: left; width: 100%; }
table th { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; color: #333; font-weight: 500; background: #f6f6f6; vertical-align: middle; line-height: 18px; font-size: 16px; }
table th button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table td { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; vertical-align: middle; line-height: 18px; }
table td button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table th.center, table td.center { text-align: center; padding: 17px 10px; }
table th.right, table td.right { text-align: right; padding: 17px 20px; }
table th:last-child, table td:last-child { border-right: none; }
table th.boR, table td.boR { border-right: 1px solid #e5e5e5; }
table tfoot td { background: rgba(49, 113, 192, 0.08); }

table.center { text-align: center; }
table.center th, table.center td { padding: 17px 10px; }
table.center th.left, table.center td.left { text-align: left; padding: 17px 20px; }
table.center th.right, table.center td.right { text-align: right; padding: 17px 20px; }

/******************************     TABLE SCROLL     ******************************/
.table_inner.scroll { position: relative; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }

.table_inner.scroll table { width: 1840px; }

.msg_touch_help { position: absolute; top: 50%; left: 50%; display: block; width: 80px; height: 80px; margin-top: -40px; margin-left: -40px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.msg_touch_help img { width: 80px; height: 80px; }

/* Layout */
.container-full { width: 100%; }

.container { width: 1084px; margin: 0 auto; }

section { padding-top: 74px; padding-bottom: 60px; }

/* Header */
h2, h3 { color: #000; }

h2 { font-size: 30px; }

h3 { font-size: 18px; }

/* Skip nav */
#skip-nav a { display: block; line-height: 50px; color: #fff; font-size: 16px; text-indent: 20px; background: #005891; width: 0; height: 0; position: absolute; left: 0; overflow: hidden; z-index: 100; }
#skip-nav a:focus { width: 200px; height: 50px; }

/* ListStyle */
.list-style01 { margin-top: 20px; }
.list-style01 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 10px; font-size: 14px; font-weight: normal; }

.list-style02 { margin-top: 20px; }
.list-style02 > li { line-height: 35px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 15px; font-size: 14px; color: #444; font-weight: 700; }
.list-style02 > li p { font-weight: normal; line-height: 26px; margin-bottom: 10px; }

.list-style03 { margin-top: 20px; }
.list-style03 > li { font-size: 14px; list-style: decimal; margin-left: 20px; line-height: 24px; margin-bottom: 10px; }

.list-style04 { margin-top: 20px; }
.list-style04 > li { position: relative; padding-left: 25px; line-height: 24px; font-size: 14px; }
.list-style04 > li span { position: absolute; top: 0; left: 0; font-size: 16px; }

.list-style05 { margin-top: 20px; }
.list-style05 > li { position: relative; padding-left: 40px; margin-bottom: 10px; font-size: 14px; }
.list-style05 > li span { position: absolute; top: 0; left: 0; color: #3171c0; padding-right: 10px; border-right: 1px solid #e5e5e5; }

@media screen and (max-width: 960px) { .list-style01 { margin-top: 10px; }
  .list-style01 > li { line-height: 18px; padding-left: 8px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 7px; font-size: 12px; margin-bottom: 5px; }
  .list-style01 > li span { font-size: 12px; }
  .list-style02 { margin-top: 10px; }
  .list-style02 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 9px; font-size: 12px; }
  .list-style02 > li p { font-size: 12px; line-height: 17px; margin-bottom: 10px; }
  .list-style03 { margin-top: 10px; }
  .list-style03 > li { font-size: 12px; margin-left: 10px; line-height: 17px; margin-bottom: 5px; }
  .list-style04 { margin-top: 10px; }
  .list-style04 > li { position: relative; padding-left: 20px; line-height: 17px; font-size: 12px; margin-bottom: 5px; }
  .list-style04 > li span { font-size: 12px; }
  .list-style05 { margin-top: 10px; }
  .list-style05 > li { font-size: 12px; margin-left: 15px; line-height: 17px; margin-bottom: 5px; } }
/* Responsive */
.mobile-only { display: none !important; }

@media screen and (max-width: 960px) { section { padding-top: 60px; padding-bottom: 30px; }
  .mobile-hide { display: none !important; }
  .mobile-only { display: block !important; } }
/*  GNB  */
header { background: url(../_images/common/header_bg.png) repeat-x #fff; position: absolute; z-index: 2; }
header #gnb { position: relative; height: 74px; }
header #gnb h1 { float: left; }
header #gnb h1 a { display: block; height: 70px; width: 140px; background: url("../_images/common/header_ci.png") no-repeat center center; text-indent: -9999px; margin-top: 3px; }
header #gnb .menu-open { width: 60px; height: 60px; float: right; background: url(../_images/common/mobile_menu_open.png) no-repeat center; background-size: contain; }
header #gnb .wrap { float: right; margin-top: 3px; }
header #gnb .wrap .menu { float: left; width: 170px; }
header #gnb .wrap .menu dt { width: 100%; height: 70px; }
header #gnb .wrap .menu dt:last-of-type { background: url(../_images/common/header_line.png) no-repeat right center; }
header #gnb .wrap .menu dt a { display: block; line-height: 70px; font-size: 16px; color: #333; font-weight: bold; text-align: center; background: url(../_images/common/header_line.png) no-repeat left center; }
header #gnb .wrap .menu div { padding: 25px 0 25px 25px; }
header #gnb .wrap .menu div dd { width: 100%; }
header #gnb .wrap .menu div dd a { display: block; line-height: 25px; }
header #gnb .wrap .menu div dd a:hover { color: #154e9e; }
header #gnb .wrap .mobile-top { width: 100%; height: 59px; border-bottom: 1px solid rgba(255, 255, 255, 0.4); margin-bottom: 15px; }
header #gnb .wrap .mobile-top a { width: 122px; height: 59px; background: url(../_images/common/mobile_ci.png) no-repeat center; background-size: contain; float: left; text-indent: -9999px; }
header #gnb .wrap .mobile-top button { width: 59px; height: 56px; background: url(../_images/common/mobile_menu_close.png) no-repeat center; background-size: contain; float: right; }
header #gnb .text-wrap { width: 200%; position: absolute; top: 74px; background: url("../_images/common/header_image.png") no-repeat top right #f4f5f5; right: 50%; margin-right: 210px; }
header #gnb .text-wrap .text { width: 260px; padding-top: 25px; float: right; }
header #gnb .text-wrap .text .title { font-size: 26px; font-weight: bold; color: #333; margin-bottom: 15px; }
header #gnb .text-wrap .text p { font-size: 13px; line-height: 18px; }

@media screen and (max-width: 960px) { header { background: none; z-index: 0; }
  header #gnb h1 a { height: 60px; width: 116px; margin-top: 0; background-size: contain; margin-left: 21px; }
  header #gnb .wrap { float: none; margin-top: 0; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #252930; display: none; }
  header #gnb .wrap .menu { float: none; width: 100%; padding: 25px 21px; border-bottom: 1px solid #3b3f45; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  header #gnb .wrap .menu:after { content: ""; display: block; clear: both; }
  header #gnb .wrap .menu dt { width: 50%; height: auto; float: left; }
  header #gnb .wrap .menu dt:last-of-type { background: none; }
  header #gnb .wrap .menu dt a { display: block; line-height: 28px; font-size: 15px; color: #fff; text-align: left; background: none; }
  header #gnb .wrap .menu div { padding: 0; width: 50%; float: right; display: block; }
  header #gnb .wrap .menu div dd { width: 100%; }
  header #gnb .wrap .menu div dd a { display: block; line-height: 25px; color: #caced7; font-size: 13px; position: relative; }
  header #gnb .wrap .menu div dd a:hover, header #gnb .wrap .menu div dd a.on { color: #fff; }
  header #gnb .wrap .menu div dd a:hover:before, header #gnb .wrap .menu div dd a.on:before { display: block; content: ""; width: 10px; height: 10px; background: #4581df; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; position: absolute; left: -20px; top: 8px; }
  header #gnb .wrap .mobile-scroll { height: calc(100% - 60px); overflow: scroll; webkit-overflow-scrolling: touch; } }
/*  FOOTER  */
footer .link { height: 45px; background: #edeeee; }
footer .link ul li { float: left; }
footer .link ul li a { line-height: 45px; font-weight: bold; color: #333; margin-right: 15px; }
footer .link ul li a.policy { color: #184487; }
footer .link select { float: right; width: 220px; background: url(../_images/common/footer_select.png) no-repeat right center #e2e3e4; height: 45px; border: none; padding-left: 10px; }
footer .copy { padding: 35px 0 35px 160px; background: url(../_images/common/footer_ci.png) no-repeat left center; }
footer .copy .adress { line-height: 20px; font-size: 13px; margin-bottom: 10px; }
footer .copy .adress span { margin-right: 10px; }
footer .copy .copyright { color: #777; font-size: 12px; }

@media screen and (max-width: 960px) { footer .link { height: 38px; }
  footer .link ul { text-align: center; }
  footer .link ul li { float: none; display: inline-block; }
  footer .link ul li a { line-height: 38px; margin: 0 5px; font-size: 12px; }
  footer .copy { padding: 20px 0; background: none; text-align: center; }
  footer .copy .adress { line-height: 15px; font-size: 10px; }
  footer .copy .adress span { font-size: 10px; }
  footer .copy .copyright { font-size: 10px; } }
/* Board */
.board { margin-top: 50px; border-top: 2px solid #333; width: 100%; }
.board .list { display: table; width: 100%; border-bottom: 1px solid #e5e5e5; }
.board .list li { display: table-cell; line-height: 60px; }
.board .list li.subject { width: auto; font-size: 18px; font-weight: 500; padding-left: 30px; display: block; color: #333; }
.board .list li.subject a { font-size: 18px; font-weight: 500; display: block; color: #333; }
.board .list li.subject a:hover { text-decoration: underline; }
.board .list li.btns { text-align: right; }
.board .list li.btns a { display: inline-block; border: 1px solid #bbb; line-height: 38px; width: 105px; text-align: center; }
.board .list li.btns a.list-file:before { display: inline-block; width: 12px; height: 12px; margin-right: 10px; background: url(../_images/common/ico_file.png) no-repeat center; background-size: contain; content: ""; }
.board .list li.btns a.list-file.brochure { width: 300px; }
.board .list li.btns a.new-win:after { display: inline-block; width: 11px; height: 11px; margin-left: 10px; background: url(../_images/common/footer_ico_newwin.png) no-repeat center; background-size: contain; content: ""; }
.board .list li.btns.col2 { width: 240px; }
.board .list li.btns.brochure { padding-right: 25px; }
.board .list li.btns.brochure a.list-file { width: 300px; margin: 0 2px; }
.board .list li.date { width: 110px; text-align: right; padding-right: 30px; }
.board .board-view-top { padding: 40px 0; border-bottom: 1px solid #e5e5e5; }
.board .board-view-top .title { font-size: 26px; color: #333; text-align: center; font-weight: 700; margin-bottom: 20px; }
.board .board-view-top .date { text-align: center; }
.board .board-view-con { padding: 40px; }
.board .file-wrap { border-top: 1px solid #e5e5e5; border-bottom: 2px solid #333; }
.board .file-wrap ul { display: table; line-height: 60px; width: 100%; }
.board .file-wrap ul li { display: table-cell; }
.board .file-wrap ul li.key { width: 15%; text-align: center; color: #333; font-weight: 700; }
.board .file-wrap ul li.value { width: 85%; }
.board .file-wrap ul li.value a.file { background: url(../_images/common/btn_file.png) no-repeat 0 8px; color: #005891; line-height: 28px; padding-left: 20px; display: inline-block; }
.board .bottom { margin-top: 50px; border-top: 1px solid #e5e5e5; }
.board .bottom ul { border-bottom: 1px solid #e5e5e5; }
.board .bottom ul:after { content: ""; display: block; clear: both; }
.board .bottom ul li { line-height: 60px; float: left; }
.board .bottom ul li.key { width: 130px; font-weight: 700; padding-left: 60px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.board .bottom ul li.link { width: calc(100% - 130px); }
.board .bottom ul li.link a { display: block; color: #333; width: 100%; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
.board .bottom ul li.link a:hover { text-decoration: underline; }
.board .bottom ul.prev .key { background: url(../_images/_board/prev_arrow.png) no-repeat 0 0; background-size: contain; }
.board .bottom ul.next .key { background: url(../_images/_board/next_arrow.png) no-repeat 0 0; background-size: contain; }
.board .btn-wrap { text-align: right; }
.board .btn-wrap a { text-align: center; }

.board.thumb-list .list { padding: 30px 0; }
.board.thumb-list .list a { display: block; }
.board.thumb-list .list .thumb { width: 370px; line-height: 1; }
.board.thumb-list .list .thumb-text { padding: 0 40px; vertical-align: top; }
.board.thumb-list .list .thumb-text .title { font-size: 18px; color: #333; }
.board.thumb-list .list .thumb-text .text { margin-top: 30px; line-height: 24px; }

.board-media-view-con { display: table; border-bottom: 2px solid #333; }
.board-media-view-con .media-list { display: table-cell; width: 300px; padding: 40px 30px; background: #f5f5f5; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.board-media-view-con .media-list dt { font-size: 18px; font-weight: 700; color: #005891; margin-bottom: 10px; }
.board-media-view-con .media-list dd { line-height: 30px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_line.png") no-repeat 0 15px; font-size: 15px; font-weight: normal; }
.board-media-view-con .media-list dd.on a { color: #333; font-weight: 700; }
.board-media-view-con .media-con { padding: 50px 0 30px 50px; }
.board-media-view-con .media-con .subtitle { overflow-y: auto; padding-top: 30px; height: 220px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.board-search { text-align: center; margin-top: 50px; }
.board-search select { vertical-align: middle; width: 150px; }
.board-search .input-wrap { display: inline-block; border: 1px solid #ccc; margin-left: 6px; vertical-align: middle; }
.board-search .input-wrap:after { content: ""; display: block; clear: both; }
.board-search .input-wrap input[type="text"] { float: left; width: 295px; border: none; height: 43px; line-height: 43px; }
.board-search .input-wrap .btn-search { background: url(../_images/_board/btn_search.png) no-repeat 0 0; background-size: contain; width: 43px; height: 43px; float: right; text-indent: -9999px; }

@media screen and (max-width: 960px) { .board { margin-top: 30px; display: block; }
  .board .list { display: block; padding-top: 20px; padding-bottom: 20px; }
  .board .list li { display: block; line-height: 20px; border-bottom: none; }
  .board .list li.subject { width: 100%; padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .board .list li.subject a { font-size: 15px; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
  .board .list li.btns { text-align: center; width: 100%; padding: 0 15px 10px; margin-top: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .board .list li.btns a { line-height: 33px; width: 100%; }
  .board .list li.btns.col2 { width: 100%; }
  .board .list li.btns.col2 a { width: calc((100% / 2) - 8px); }
  .board .list li.btns.brochure { padding-right: 15px; }
  .board .list li.btns.brochure a.list-file { width: 100%; margin: 0; }
  .board .list li.btns.brochure a:nth-child(2) { margin-top: 5px; }
  .board .list li.date { width: 100%; text-align: left; padding-left: 20px; }
  .board .board-view-top { padding: 25px; }
  .board .board-view-top .title { font-size: 18px; line-height: 23px; margin-bottom: 10px; }
  .board .board-view-con { padding: 20px; }
  .board .file-wrap ul { line-height: 45px; }
  .board .file-wrap ul li.key { width: 20%; font-size: 12px; }
  .board .file-wrap ul li.value { width: 80%; }
  .board .file-wrap ul li.value a.file { background-size: 11px; padding-left: 18px; }
  .board .bottom { margin-top: 40px; }
  .board .bottom ul li { line-height: 45px; }
  .board .bottom ul li.key { width: 100px; padding-left: 40px; font-size: 12px; }
  .board .bottom ul li.link { width: calc(100% - 100px); }
  .board .bottom ul li.link a { font-size: 12px; }
  .board .btn-wrap { margin-top: 40px; }
  .board .btn-wrap a { width: 90px; min-width: 90px; }
  .board.thumb-list .list { padding: 20px 0; }
  .board.thumb-list .list .thumb { width: 100%; }
  .board.thumb-list .list .thumb img { width: 100%; }
  .board.thumb-list .list .thumb-text { padding: 20px 0 0 0; }
  .board.thumb-list .list .thumb-text .title { font-size: 15px; }
  .board.thumb-list .list .thumb-text .text { margin-top: 15px; line-height: 17px; font-size: 12px; }
  .board-media-view-con { display: block; }
  .board-media-view-con .media-list { display: block; width: 100%; padding: 30px 20px; }
  .board-media-view-con .media-list dt { font-size: 15px; }
  .board-media-view-con .media-list dd { line-height: 21px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_line.png") no-repeat 0 12px; }
  .board-media-view-con .media-list dd a { font-size: 12px; }
  .board-media-view-con .media-con { padding: 0; padding-bottom: 20px; }
  .board-media-view-con .media-con .subtitle { padding-top: 20px; height: 180px; }
  .board-search { margin-top: 25px; }
  .board-search select { width: 100px; }
  .board-search .input-wrap { margin-left: 0; }
  .board-search .input-wrap input[type="text"] { width: 187px; height: 38px; line-height: 38px; }
  .board-search .input-wrap .btn-search { width: 38px; height: 38px; } }
/* paging */
#paging { width: 100%; margin-top: 50px; text-align: center; }
#paging .wrap { display: inline-block; }
#paging a { display: inline-block; width: 40px; height: 40px; vertical-align: middle; line-height: 40px; text-align: center; font-size: 14px; }
#paging a.on { color: #005891; border: 1px solid #005891; font-weight: 700; border-radius: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#paging a.ll { background: url(../_images/_board/page_ll.png) no-repeat center center; text-indent: -9999px; }
#paging a.l { background: url(../_images/_board/page_l.png) no-repeat center center; text-indent: -9999px; }
#paging a.r { background: url(../_images/_board/page_r.png) no-repeat center center; text-indent: -9999px; }
#paging a.rr { background: url(../_images/_board/page_rr.png) no-repeat center center; text-indent: -9999px; }

@media screen and (max-width: 960px) { #paging { margin-top: 30px; }
  #paging a { width: 35px; height: 35px; line-height: 35px; font-size: 12px; } }
nav { width: 100%; border-top: 1px solid #e5e5e5; border-bottom: 2px solid #e5e5e5; line-height: 45px; height: 45px; margin-top: 130px; position: relative; z-index: 1; }
nav > ul { width: 1000px; margin: 0 auto; border-left: 1px solid #e5e5e5; }
nav > ul:after { content: ""; display: block; clear: both; }
nav > ul li { float: left; width: 200px; position: relative; border-right: 1px solid #e5e5e5; }
nav > ul li.home { width: 45px; }
nav > ul li.home a { background: url(../_images/common/lnb_home.png) no-repeat center; text-indent: -9999px; display: block; width: 45px; height: 45px; }
nav > ul li a { color: #666; text-indent: 20px; display: block; width: 100%; background: url(../_images/common/lnb_arrow.png) no-repeat right top; }
nav > ul li a.on { background-position: right bottom; }
nav > ul li ul { border: 1px solid #e5e5e5; border-top: none; position: absolute; left: -1px; top: 45px; background-color: #fff; padding: 15px 0; display: none; }
nav > ul li ul li { border: none; }
nav > ul li ul li a { line-height: 30px; background: none; }
nav > ul li ul li a:hover, nav > ul li ul li a.on { color: #3171c0; }

@media screen and (max-width: 1000px) { nav { border-top: none; border-bottom: none; margin-top: 60px; }
  nav ul { width: 100%; border-left: none; }
  nav ul > li { float: none; width: 100%; border-right: none; display: none; }
  nav ul > li:last-child { display: block; }
  nav ul > li a { color: #fff; text-indent: 0; background: url(../_images/common/lnb_arrow_mobile.png) no-repeat right top #59636b; background-size: 44px; text-align: center; font-size: 15px; }
  nav ul > li a.on { background-position: right bottom; }
  nav ul > li ul { border: 3px solid #59636b; left: 0; padding: 0; display: none; }
  nav ul > li ul li { border-bottom: 1px solid #e5e5e5; display: block; }
  nav ul > li ul li a { line-height: 40px; color: #666; font-size: 15px; } }
