/*   Main   */
/* form */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
select { width: 400px; /*padding: .58em .5em;  */ padding-left: 15px; font-family: inherit; border: 1px solid #ccc; background: url(../_images/_form/select.png) no-repeat right center #fff; background-size: contain; vertical-align: middle; height: 45px; border-radius: 0px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select::-ms-expand { display: none; }

@media screen and (max-width: 960px) { select { padding-left: 10px; height: 40px; } }
input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 38px; height: 40px; text-indent: 20px; width: 400px; font-size: 14px; border: 1px solid #ccc; vertical-align: middle; padding-left: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 38px; height: 40px; text-indent: 10px; font-size: 16px; } }
input[type="button"] { height: 30px; line-height: 30px; background: #f94450; color: #fff; text-align: center; min-width: 130px; border: none; font-size: 14px; cursor: pointer; margin: 0 2px; -moz-appearance: none; -webkit-appearance: none; }

a.file { background: url(../_images/common/btn_file.png) no-repeat 10px center; line-height: 28px; color: #f94450; padding-left: 35px; padding-right: 10px; display: inline-block; }

textarea { width: 100%; height: 150px; padding: 20px; border: 1px solid #e5e5e5; color: #666; line-height: 24px; vertical-align: baseline; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { a.file { font-size: 12px; padding-left: 30px; }
  textarea { height: 220px; padding: 15px; margin-top: 10px; line-height: 17px; font-size: 12px; } }
.checks { /*input[type="radio"]:focus+label, input[type="checkbox"]:focus+label{
	border: 1px dotted #000;
	//margin: -1px
}*/ }
.checks input[type="radio"], .checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.checks input[type="radio"]:focus, .checks input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; color: #666; min-width: 0; line-height: 20px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 40px; position: relative; }
.checks input[type="radio"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 20px; height: 20px; vertical-align: middle; margin-right: 10px; background: url(../_images/_form/radio.png) no-repeat left bottom; }
.checks input[type="radio"] + label:last-of-type { margin: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 30px; padding-right: 20px; cursor: pointer; color: #666; min-width: 0; line-height: 20px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 20px; height: 20px; vertical-align: top; margin-right: 10px; background: url(../_images/_form/checkbox.png) no-repeat left bottom; }
.checks input[type="radio"]:checked + label:before, .checks input[type="checkbox"]:checked + label:before { background-position: left top; }

@media screen and (max-width: 960px) { .checks input[type="radio"] + label, .checks input[type="checkbox"] + label { padding-left: 25px; font-size: 12px; line-height: 20px; }
  .checks input[type="radio"] + label:before, .checks input[type="checkbox"] + label:before { height: 20px; width: 20px; background-size: 20px; }
  .checks input[type="radio"] + label { margin-right: 5px; }
  .checks input[type="radio"] + label:last-of-type { margin: 0; } }
input[type="file"] { padding: 0; margin: 0px; background: #f5f5f5; border: 1px solid #e5e5e5; width: 400px; }

input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #343f4e; line-height: 45px; margin: 0px; width: 100px; cursor: pointer; }

input[type="file"]::-ms-value { border: 0; height: 45px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

@media screen and (max-width: 960px) { input[type="file"] { width: 100%; } }
/* table */
table { border-top: 2px solid #000; text-align: left; width: 100%; }
table th { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; color: #333; font-weight: 500; background: #f6f6f6; vertical-align: middle; line-height: 18px; font-size: 16px; }
table th button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table td { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; vertical-align: middle; line-height: 18px; }
table td button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table th.center, table td.center { text-align: center; padding: 17px 10px; }
table th.right, table td.right { text-align: right; padding: 17px 20px; }
table th:last-child, table td:last-child { border-right: none; }
table th.boR, table td.boR { border-right: 1px solid #e5e5e5; }
table tfoot td { background: rgba(51, 220, 158, 0.08); }

table.center { text-align: center; }
table.center th, table.center td { padding: 17px 10px; }
table.center th.left, table.center td.left { text-align: left; padding: 17px 20px; }
table.center th.right, table.center td.right { text-align: right; padding: 17px 20px; }

/******************************     TABLE SCROLL     ******************************/
.table_inner.scroll { position: relative; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }

.table_inner.scroll table { width: 1840px; }

.msg_touch_help { position: absolute; top: 50%; left: 50%; display: block; width: 80px; height: 80px; margin-top: -40px; margin-left: -40px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.msg_touch_help img { width: 80px; height: 80px; }

/* Font - Noto Sans KR */
/* Font - Roboto */
/* Layout */
.container-full { width: 100%; }

.container { width: 1200px; margin: 0 auto; }

/* Responsive */
.mobile-only { display: none !important; }

@media screen and (max-width: 960px) { .mobile-hide { display: none !important; }
  .mobile-only { display: block !important; } }
.point { color: #f94450 !important; }

/*  GNB  */
header { position: sticky; top: 0; z-index: 100; }
header .util-wrapper { width: 100%; border-bottom: 1px solid #e5e5e5; display: flex; justify-content: center; background: #fff; }
header .util-wrapper .wrap { width: 100%; padding: 0 15px; max-width: 1200px; display: flex; justify-content: space-between; }
header .util-wrapper .wrap .site { display: flex; }
header .util-wrapper .wrap .site a { width: 120px; line-height: 30px; background-color: rgba(1, 44, 61, 0.1); font-size: 14px; color: #767676; letter-spacing: -0.57px; text-align: center; }
header .util-wrapper .wrap .site a.on { background: #012c3d; color: #fff; font-weight: 500; }
header .util-wrapper .wrap .util a { color: #767676; padding: 0 10px; line-height: 30px; }
header .gnb-wrapper { width: 100%; display: flex; justify-content: center; background: #fff; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
header .gnb-wrapper .wrap { width: 100%; padding: 0 15px; max-width: 1200px; display: flex; align-items: flex-end; }
header .gnb-wrapper .wrap h1 { width: 150px; height: 80px; }
header .gnb-wrapper .wrap h1 a { display: block; width: 100%; height: 100%; background: url("../_images/common/ci.png") no-repeat 0 0/cover; }
header .gnb-wrapper .wrap .gnb { display: flex; margin-left: 20px; }
header .gnb-wrapper .wrap .gnb dl { margin-left: 50px; position: relative; }
header .gnb-wrapper .wrap .gnb dl dt a { display: block; width: 100%; height: 100%; font-size: 18px; color: #000; font-weight: 500; padding-bottom: 20px; }
header .gnb-wrapper .wrap .gnb dl div { display: none; position: absolute; left: -20px; top: 30px; background: #012c3d; width: 200px; padding: 20px 0; overflow: hidden; z-index: 10; }
header .gnb-wrapper .wrap .gnb dl div dd { line-height: 40px; padding-left: 20px; color: #fff; font-size: 16px; }
header .gnb-wrapper .wrap .gnb dl div dd ul li { font-size: 14px; padding-left: 10px; line-height: 30px; color: #bbb; }
header .gnb-wrapper .wrap .gnb .mobile-util { display: none; }
header .mobile-gnb-wrapper { display: none; }

@media screen and (max-width: 768px) { header { background: #fff; }
  header .util-wrapper { border: none; }
  header .util-wrapper .wrap { width: 100%; padding: 0; }
  header .util-wrapper .wrap .site { display: flex; width: 100%; }
  header .util-wrapper .wrap .site a { width: 50%; }
  header .util-wrapper .wrap .util { display: none; }
  header .gnb-wrapper { display: none; }
  header .mobile-gnb-wrapper { display: block; }
  header .mobile-gnb-wrapper .mobile-top { width: 100%; display: flex; justify-content: space-between; }
  header .mobile-gnb-wrapper .mobile-top h1 { width: 150px; height: 60px; }
  header .mobile-gnb-wrapper .mobile-top h1 a { display: block; width: 100%; height: 100%; background: url("../_images/common/ci.png") no-repeat 0 0/cover; background-size: 70px; background-position: center left; margin-left: 20px; }
  header .mobile-gnb-wrapper .mobile-top .mobile-menu { width: 60px; height: 60px; display: block; background: url("../_images/common/btn-menu.png") no-repeat center; }
  header .mobile-gnb-wrapper .wrap { padding: 0 20px; }
  header .mobile-gnb-wrapper .wrap .gnb { display: none; margin-left: 0; position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; overflow: scroll; background: #fff; }
  header .mobile-gnb-wrapper .wrap .gnb dl { margin-left: 0; position: relative; }
  header .mobile-gnb-wrapper .wrap .gnb dl dt a { font-size: 16px; color: #000; font-weight: 500; padding: 15px 20px; line-height: 40px; }
  header .mobile-gnb-wrapper .wrap .gnb dl div { display: block; position: relative; left: 0; top: 0; background: #f1f1f1; width: 100%; padding: 20px 0; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd { line-height: 30px; padding-left: 20px; color: #111; font-size: 14px; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd ul { display: flex; flex-wrap: wrap; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd ul li { font-size: 12px; padding-left: 10px; line-height: 30px; color: #454545; width: 50%; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util { width: 100%; padding: 10px 0; border-bottom: 1px solid #e5e5e5; display: flex; justify-content: space-between; align-items: flex-start; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .wrap { display: block; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .wrap a { display: block; line-height: 30px; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .close { display: block; width: 60px; height: 60px; background: url("../_images/common/btn-menu-close.png") no-repeat center; margin-right: 10px; } }
/*  FOOTER  */
footer { background-color: #012c3d; display: flex; justify-content: center; padding: 40px 0; margin-top: 100px; }
footer .wrap { width: 100%; max-width: 1200px; padding: 0 15px; display: flex; align-items: center; }
footer .wrap .footer_ci { width: 120px; height: 52px; background: url("../_images/main/footer-ci.png") no-repeat 0 0; }
footer .wrap .txt_wrap { margin-left: 80px; font-size: 14px; color: #ccc; font-weight: 300; }
footer .wrap .txt_wrap .copy_wrap { align-items: center; height: 24px; display: flex; }
footer .wrap .txt_wrap .copy_wrap p { border-left: 1px solid #979797; margin-left: 10px; padding-left: 10px; }
footer .wrap .txt_wrap .copy_wrap p:first-child { border: none; margin: 0; padding: 0; }
footer .mobile-footer { display: none; }

@media screen and (max-width: 768px) { footer { margin-top: 60px; }
  footer .wrap { display: none; }
  footer .mobile-footer { display: block; font-size: 10px; color: #ccc; } }
/* Board */
.board { margin-top: 30px; /*.search{
	border: 1px solid $lineColor;
	text-align: center;
	padding: 21px 0;
	select{
		vertical-align: middle;
		width: 120px;
	}
	input[type="text"]{
		width: 260px;
		height: 34px;
		line-height: 32px;
		margin-left: 5px;
	}
	.btn-search{
		background: url(../_images/common/header_form_search.png) no-repeat 20px 10px #1c2733;
		height: 34px;
		padding: 0 20px 0 40px;
		margin-left: 5px;
		vertical-align: middle;
		color: #fff;
	}
}*/ border-top: 2px solid #000; }
.board.list ul { display: flex; border-bottom: 1px solid #e5e5e5; width: 100%; }
.board.list ul li { line-height: 50px; }
.board.list ul li.title { width: calc(100% - 90px); font-size: 16px; font-weight: 500; color: #000; text-indent: 10px; letter-spacing: -0.33px; }
.board.list ul li.title a { width: 100%; display: block; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
.board.list ul li.title a:hover { color: #f94450; }
.board.list ul li.date { width: 90px; font-size: 14px; font-weight: 500; letter-spacing: -0.29px; text-align: center; color: #767676; }
.board .board-view-top { padding: 30px 0; border-bottom: 1px solid #e5e5e5; }
.board .board-view-top .title { font-size: 26px; color: #000; text-align: center; font-weight: 700; margin-bottom: 20px; letter-spacing: -0.2px; }
.board .board-view-top .date { font-size: 16px; font-weight: 500; letter-spacing: -0.33px; text-align: center; color: #000; }
.board .board-view-con { padding: 50px; line-height: 22px; border-bottom: 1px solid #e5e5e5; }
.board .board-view-con img { width: 100%; }
.board.thumb .items { padding-top: 30px; width: 100%; display: flex; flex-wrap: wrap; }
.board.thumb .items .item { width: calc((100% - 60px) / 3); margin-left: 30px; margin-bottom: 60px; }
.board.thumb .items .item:nth-child(3n+1) { margin-left: 0; }
.board.thumb .items .item img { width: 100%; }
.board.thumb .items .item .title { margin-top: 20px; font-size: 18px; font-weight: 500; letter-spacing: -0.15px; color: #000000; }
.board.thumb .items .item .date { margin-top: 5px; font-size: 14px; font-weight: 500; line-height: 22px; letter-spacing: -0.12px; color: #454545; }
.board.faq { border-top: none; }
.board.faq table { border-top: 2px solid #000; }
.board.faq table tr.q { cursor: pointer; }
.board.faq table tr.q .cate { width: 50px; font-size: 16px; font-weight: 500; color: #f94450; letter-spacing: -0.33px; text-align: center; background: #eeeeee; }
.board.faq table tr.q .title { width: calc(100% - 50px); font-size: 16px; font-weight: 500; letter-spacing: -0.33px; color: #000000; }
.board.faq table tr.a { display: none; }
.board.faq table tr.a .cate { width: 50px; font-size: 16px; font-weight: 500; color: #33dc9e; letter-spacing: -0.33px; text-align: center; background: #eeeeee; }
.board.faq table tr.a .text { width: calc(100% - 50px); font-size: 14px; line-height: 1.71; letter-spacing: -0.59px; color: #454545; background: #eeeeee; }

.btn-wrap { text-align: center; padding-top: 40px; }
.btn-wrap a { display: inline-block; width: 100px; text-align: center; color: #454545; line-height: 50px; border: 1px solid #e5e5e5; border-radius: 8px; margin: 0 5px; font-size: 16px; }
.btn-wrap a.solid { background: #f94450; color: #fff; border: none; }

@media screen and (max-width: 960px) { .board.list ul li { line-height: 40px; }
  .board.list ul li.title { font-size: 14px; }
  .board.list ul li.date { width: 90px; font-size: 12px; }
  .board .board-view-top { padding: 20px 0; }
  .board .board-view-top .title { font-size: 20px; margin-bottom: 10px; line-height: 28px; }
  .board .board-view-top .date { font-size: 12px; }
  .board .board-view-con { padding: 20px; line-height: 22px; border-bottom: 1px solid #e5e5e5; }
  .board.thumb .items { justify-content: space-between; }
  .board.thumb .items .item { width: calc((100% - 30px) / 2); margin-left: 30px; }
  .board.thumb .items .item:nth-child(2n+1) { margin-left: 0; }
  .board.faq { border-top: none; }
  .board.faq table { border-top: 2px solid #000; }
  .board.faq table tr.q .cate { font-size: 14px; line-height: 22px; }
  .board.faq table tr.q .title { width: calc(100% - 50px); font-size: 14px; line-height: 22px; }
  .board.faq table tr.a .cate { font-size: 14px; line-height: 22px; }
  .board.faq table tr.a .text { font-size: 14px; line-height: 22px; }
  .btn-wrap { padding-top: 20px; }
  .btn-wrap a { width: 70px; line-height: 40px; font-size: 12px; margin: 0 2px; } }
@media screen and (max-width: 768px) { .board.thumb .items .item { width: 100%; margin-left: 0; margin-bottom: 30px; }
  .board.thumb .items .item .title { font-size: 14px; }
  .board.thumb .items .item .date { font-size: 12px; } }
/* paging */
#paging { display: flex; width: 100%; justify-content: center; margin-top: 60px; }
#paging .wrap { display: flex; align-items: center; }
#paging .wrap a { line-height: 40px; text-align: center; width: 40px; height: 40px; }
#paging .wrap a.page_ll { margin-right: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-ll.png") no-repeat center; }
#paging .wrap a.page_l { margin-right: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-left.png") no-repeat center; }
#paging .wrap a.page_r { margin-left: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-right.png") no-repeat center; }
#paging .wrap a.page_rr { margin-left: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-rr.png") no-repeat center; }
#paging .wrap a.on { font-weight: 500; color: #f94450; }

@media screen and (max-width: 960px) { #paging { margin-top: 40px; }
  #paging .wrap a { line-height: 30px; width: 30px; height: 30px; }
  #paging .wrap a.page_ll, #paging .wrap a.page_l, #paging .wrap a.page_r, #paging .wrap a.page_rr { background-size: 15px; } }
#modal { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: flex; justify-content: center; align-items: center; }
#modal .modal-wrap { background: #fff; position: relative; width: 500px; padding: 50px; }
#modal .modal-wrap .close { display: block; width: 60px; height: 60px; position: absolute; top: 0; right: 0; background: url(../_images/common/btn-menu-close.png) no-repeat center; text-indent: -9999px; }
#modal .modal-wrap .title { font-size: 30px; font-weight: 300; color: #454545; }
#modal .modal-wrap .input-wrap { margin-top: 60px; }
#modal .modal-wrap .input-wrap input[type="text"], #modal .modal-wrap .input-wrap input[type="password"] { width: 100%; margin-bottom: 10px; }
#modal .modal-wrap .btns { margin-top: 40px; }
#modal .modal-wrap .btns .solid { line-height: 50px; width: 100%; display: block; border-radius: 8px; text-align: center; color: #fff; background: #f94450; font-size: 20px; }
#modal .modal-wrap .btns .flex { margin-top: 5px; display: flex; justify-content: space-between; }
#modal .modal-wrap .btns .flex a { border: 1px solid #e5e5e5; border-radius: 8px; line-height: 30px; width: calc((100% - 10px) / 3); text-align: center; }
#modal .modal-wrap .sns-btn { margin-top: 50px; display: flex; justify-content: space-between; }
#modal .modal-wrap .sns-btn a { width: calc((100% - 10px) / 2); color: #454545; text-align: center; line-height: 50px; border-radius: 8px; }
#modal .modal-wrap .sns-btn a.kakao { background: #ffe401; }
#modal .modal-wrap .sns-btn a.naver { background: #0fcf73; }

@media screen and (max-width: 960px) { #modal .modal-wrap { width: 90vw; padding: 20px; }
  #modal .modal-wrap .title { margin-top: 30px; font-size: 20px; }
  #modal .modal-wrap .input-wrap { margin-top: 30px; }
  #modal .modal-wrap .btns { margin-top: 20px; }
  #modal .modal-wrap .btns .solid { line-height: 40px; font-size: 14px; }
  #modal .modal-wrap .btns .flex a { font-size: 12px; }
  #modal .modal-wrap .sns-btn { margin-top: 30px; }
  #modal .modal-wrap .sns-btn a { font-size: 12px; line-height: 40px; } }
.sub-top { width: 100%; display: flex; justify-content: center; position: relative; height: 266px; }
.sub-top .left-box { width: 61.56vw; height: 220px; background: #f94450; position: absolute; left: 0; z-index: -1; }
.sub-top .right-box { width: 49.06vw; height: 140px; background: url("../_images/common/sub-top01.png") no-repeat; position: absolute; top: 126px; right: 0; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
.sub-top .text-wrap { width: 100%; max-width: 1200px; padding: 0 15px; }
.sub-top .text-wrap .title { height: 45px; font-size: 30px; font-weight: 500; color: #fff; margin-top: 50px; margin-left: 200px; letter-spacing: -0.2px; }
.sub-top .text-wrap .sub-title { height: 48px; font-size: 16px; font-weight: 300; color: #fff; margin-top: 5px; margin-left: 200px; line-height: normal; letter-spacing: -0.11px; }

.program .sub-top .right-box { background-image: url("../_images/common/sub_top_progara.png"); }

.mentor .sub-top .right-box { background-image: url("../_images/common/sub_top_mentor.png"); }

.event .sub-top .right-box { background-image: url("../_images/common/sub_top_event.png"); }

.membership .sub-top .right-box { background-image: url("../_images/common/sub_top_membership.png"); }

.mypage .sub-top .right-box { background-image: url("../_images/common/sub_top_mypage.png"); }

.cs .sub-top .right-box { background-image: url("../_images/common/sub_top_notice.png"); }

@media screen and (max-width: 960px) { .sub-top { height: calc(20vw + 20px); }
  .sub-top .left-box { width: 90vw; height: 20vw; }
  .sub-top .right-box { width: 90vw; height: 20vw; background-size: contain; background-position: 20px 30%; background-color: #33dc9e; top: 20px; }
  .sub-top .text-wrap { display: none; } }
h2 { font-size: 30px; font-weight: 300; letter-spacing: -0.25px; color: #000; margin-top: 60px; }

h3 { margin-top: 60px; margin-bottom: 30px; font-size: 24px; font-weight: 500; letter-spacing: -0.2px; color: #000; }

@media screen and (max-width: 960px) { h2 { margin-top: 40px; margin-bottom: 20px; font-size: 20px; }
  h3 { margin-top: 30px; font-size: 18px; } }
.sub-con-wrap { width: 100%; max-width: 1200px; margin: 0 auto; padding: 0 15px; }
.sub-con-wrap strong { font-weight: 500; }

.inputs-wrap { border-top: 2px solid #000; border-bottom: 1px solid #e5e5e5; padding-top: 30px; margin-top: 30px; }
.inputs-wrap ul { display: flex; align-items: center; margin-bottom: 30px; }
.inputs-wrap ul li { width: calc(100% - 150px); }
.inputs-wrap ul li:first-child { font-size: 16px; color: #000; letter-spacing: -0.33px; font-weight: 500; text-indent: 10px; width: 150px; }
.inputs-wrap ul li p { display: flex; width: 100%; align-items: center; }
.inputs-wrap ul li p.point { margin-top: 10px; }
.inputs-wrap ul li p a { width: 130px; background: #dedede; color: #454545; font-size: 14px; letter-spacing: -0.59px; text-align: center; line-height: 40px; margin-left: 10px; }
.inputs-wrap ul li p span { margin-left: 10px; }

@media screen and (max-width: 960px) { .inputs-wrap { padding-top: 20px; }
  .inputs-wrap ul { margin-bottom: 20px; }
  .inputs-wrap ul li { width: calc(100% - 100px); }
  .inputs-wrap ul li:first-child { font-size: 12px; width: 100px; }
  .inputs-wrap ul li input[type="text"], .inputs-wrap ul li input[type="password"] { width: 100%; }
  .inputs-wrap ul li p { flex-wrap: wrap; }
  .inputs-wrap ul li p input[type="text"], .inputs-wrap ul li p input[type="password"], .inputs-wrap ul li p input[type="password"] { width: calc(100% - 130px); }
  .inputs-wrap ul li p a { width: 120px; font-size: 12px; }
  .inputs-wrap ul li p input[type="checkbox"] + label { margin-bottom: 10px; }
  .inputs-wrap ul li select { width: 100%; } }
.main-banner { width: 100%; position: relative; display: flex; justify-content: center; }
.main-banner .left { position: absolute; left: 0; top: 0; background: #33dc9e; height: 450px; width: 67.81vw; z-index: -1; }
.main-banner .wrap { width: 100%; max-width: 1200px; padding: 0 15px; height: 530px; position: relative; }
.main-banner .wrap .text-wrap { position: relative; }
.main-banner .wrap .text-wrap .item { position: absolute; left: 0; top: 120px; opacity: 0; }
.main-banner .wrap .text-wrap .item:first-child { opacity: 1; }
.main-banner .wrap .text-wrap .sub-slogan { margin-top: 30px; }
.main-banner .wrap .slider { position: absolute; z-index: -1; top: 80px; right: 15px; width: 670px; height: 450px; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
.main-banner .wrap .ui { display: flex; position: absolute; left: 50%; bottom: 0; margin-left: -325px; }
.main-banner .wrap .ui div { width: 80px; height: 80px; font-size: 24px; color: #000; font-weight: 300; display: flex; justify-content: center; align-items: center; }
.main-banner .wrap .ui div.ui-prev { background: url("../_images/main/ui-right.png") no-repeat center/cover; cursor: pointer; }
.main-banner .wrap .ui div.ui-next { background: url("../_images/main/ui-left.png") no-repeat center/cover; cursor: pointer; }

.quick-float { position: fixed; right: 20px; top: 160px; width: 60px; z-index: 1; }
.quick-float img { margin-bottom: 10px; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); border-radius: 100%; }
.quick-float a { width: 100%; height: 100%; display: block; text-align: center; color: #454545; font-size: 14px; line-height: 18px; letter-spacing: -0.6px; }

.sec-category { display: flex; justify-content: center; margin-top: 100px; }
.sec-category ul { display: flex; }
.sec-category ul li { width: 108px; font-size: 16px; color: #454545; text-align: center; margin: 0 33px; letter-spacing: -0.55px; }
.sec-category ul li img { margin-bottom: 10px; }

#contents .grid-wrapper { width: 100%; display: flex; justify-content: center; margin-top: 20px; position: relative; }
#contents .grid-wrapper .wrap { width: 100%; max-width: 1200px; padding: 0 15px; }
#contents .grid-wrapper .wrap .title-wrap { display: flex; align-items: flex-end; }
#contents .grid-wrapper .wrap .title-wrap h2 { font-size: 24px; font-weight: 500; color: #454545; position: relative; letter-spacing: -0.68px; }
#contents .grid-wrapper .wrap .title-wrap p { font-size: 14px; letter-spacing: -0.48px; color: #767676; padding-left: 10px; margin-left: 10px; border-left: 1px solid #dedede; }
#contents .grid-wrapper .wrap .items { width: 100%; display: flex; margin-top: 30px; flex-wrap: wrap; }
#contents .grid-wrapper .wrap .items.swiper-items { margin-top: 320px; }
#contents .grid-wrapper .wrap .items .item { width: calc((100% - 90px) / 4); margin-left: 30px; flex-wrap: wrap; }
#contents .grid-wrapper .wrap .items .item:nth-child(4n+1) { margin-left: 0; }
#contents .grid-wrapper .wrap .items .item img { width: 100%; }
#contents .grid-wrapper .wrap .items .item .title { font-size: 18px; color: #000; letter-spacing: -0.42px; font-weight: 500; margin-top: 15px; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
#contents .grid-wrapper .wrap .items .item .subs { margin-top: 10px; font-size: 16px; letter-spacing: -0.25px; color: #454545; line-height: 24px; display: -webkit-box; white-space: normal; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }
#contents .grid-wrapper .wrap .items .item .subs-1 { margin-top: 10px; font-size: 16px; letter-spacing: -0.25px; color: #454545; line-height: 24px; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
#contents .grid-wrapper .wrap .items .item .date { font-size: 14px; font-weight: 700; padding-top: 30px; position: relative; }
#contents .grid-wrapper .wrap .items .item .date:before { display: block; width: 10px; height: 2px; content: ""; background: #000; position: absolute; top: 14px; }
#contents .grid-wrapper .wrap .items .item .btn-resi { width: 100%; border-radius: 8px; background: #dedede; text-align: center; line-height: 40px; font-size: 16px; color: #767676; margin-top: 30px; font-weight: 500; }
#contents .grid-wrapper .wrap .items .item .btn-resi a { display: block; width: 100%; color: #fff; background: #f94450; border-radius: 8px; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow { display: flex; justify-content: center; align-items: center; margin-top: 60px; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow .arrow-left { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-left.png") no-repeat center; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow .arrow-right { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-right.png") no-repeat center; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow .swiper-pagination { padding: 0 15px; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow .swiper-pagination span { width: 15px; height: 15px; background: #012c3d; opacity: 0.3; margin: 0 5px; }
#contents .grid-wrapper .wrap .swiper-wrap-arrow .swiper-pagination span.swiper-pagination-bullet-active { opacity: 1; }
#contents .grid-wrapper .wrap.swiper-container .swiper-wrapper { height: auto; }
#contents .grid-wrapper .wrap.swiper-container .swiper-wrapper .swiper-slide { margin: 0; }
#contents .grid-wrapper .swiper-title-wrap { margin-top: 50px; width: 61.56vw; height: 400px; background: url("../_images/main/oneday.png") no-repeat top right #33dc9e; position: absolute; top: 0; right: 0; z-index: -1; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
#contents .grid-wrapper .swiper-title-wrap .swiper-title { margin-left: 70px; margin-top: 70px; }
#contents .grid-wrapper .swiper-title-wrap .swiper-title h2 { height: 71px; font-size: 48px; font-weight: 500; color: #fff; position: relative; }
#contents .grid-wrapper .swiper-title-wrap .swiper-title p { font-size: 20px; font-weight: 300; color: #fff; line-height: 28px; }
#contents .grid-wrapper .swiper-title-wrap.second { background: url("../_images/main/open.png") no-repeat top right #f94450; top: 0; left: 0; display: flex; justify-content: flex-end; }
#contents .grid-wrapper .swiper-title-wrap.second .swiper-title { width: 100%; max-width: 786px; padding: 0 15px; }
#contents .grid-wrapper.main .wrap .items { flex-wrap: nowrap; }
#contents .grid-wrapper.main .wrap .items .item { margin-bottom: 0; }
#contents .grid-wrapper.main .wrap .items .item:first-child { margin-left: 0; }
#contents .grid-wrapper.sub-list .wrap .items .item { margin-bottom: 30px; }
#contents .hu-wrapper { width: 100%; display: flex; justify-content: center; margin-top: 100px; }
#contents .hu-wrapper .hu-wrap { width: 100%; max-width: 1200px; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; }
#contents .hu-wrapper .hu-wrap .btn-prev { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-left.png") no-repeat center; }
#contents .hu-wrapper .hu-wrap .btn-next { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-right.png") no-repeat center; }
#contents .hu-wrapper .hu-wrap .wrap { width: calc(100% - 200px); }
#contents .hu-wrapper .hu-wrap .wrap .swiper-wrapper a { display: flex; border: 1px solid #e5e5e5; height: 80px; justify-content: center; align-items: center; }

@media screen and (max-width: 1200px) { .main-banner .left { height: 37.5vw; }
  .main-banner .wrap { height: calc(37.5vw + 80px); }
  .main-banner .wrap .text-wrap .item { top: 10vw; }
  .main-banner .wrap .text-wrap .item .main-slogal { width: 50vw; }
  .main-banner .wrap .slider { width: 55.83vw; height: 37.5vw; }
  .main-banner .wrap .text-wrap .item .main-slogal { display: none; }
  #contents .grid-wrapper .swiper-title-wrap { height: 33.33vw; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title { margin: 8.33vw 0 0 8.33vw; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title h2 { font-size: 4vw; height: auto; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title p { font-size: 2vw; line-height: 3vw; margin-top: 2vw; }
  #contents .grid-wrapper .wrap .items.swiper-items { margin-top: 26.66vw; }
  #contents .grid-wrapper .wrap .items .item { width: calc((100% - 60px) / 3); }
  #contents .grid-wrapper .wrap .items .item:nth-child(4n+1) { margin-left: 30px; }
  #contents .grid-wrapper .wrap .items .item:nth-child(3n+1) { margin-left: 0; }
  #contents .grid-wrapper .wrap .items .item.swiper-slide { display: block !important; }
  #contents .grid-wrapper.main .wrap .items .item:nth-child(4) { display: none; } }
@media screen and (max-width: 768px) { .main-banner .left { height: 50vw; width: 78.88vw; }
  .main-banner .wrap { padding: 0 20px; height: 90.61vw; }
  .main-banner .wrap .text-wrap .item { top: 20px; opacity: 0; }
  .main-banner .wrap .text-wrap .item:first-child { opacity: 1; }
  .main-banner .wrap .text-wrap .sub-slogan { width: 53.61vw; margin-top: 0; }
  .main-banner .wrap .text-wrap .sub-slogan img { width: 100%; }
  .main-banner .wrap .slider { top: 30.55vw; right: 20px; width: 78.88vw; height: 53.05vw; }
  .main-banner .wrap .ui { width: 100%; display: flex; justify-content: center; position: relative; left: 0; margin-left: 0; margin-top: 85.61vw; }
  .main-banner .wrap .ui div { width: 40px; height: 40px; font-size: 16px; }
  .sec-category { margin-top: 50px; }
  .sec-category ul { padding: 0 20px; justify-content: space-between; }
  .sec-category ul li { width: calc((100% - 40px) / 5); font-size: 12px; margin: 0; }
  .sec-category ul li img { margin-bottom: 10px; width: 100%; }
  #contents .grid-wrapper { margin-top: 40px; }
  #contents .grid-wrapper .swiper-title-wrap { margin-top: 0; width: 78.88vw; max-height: 280px; height: 56.94vw; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title { margin: 30px 0 0 30px; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title h2 { font-size: 4vw; height: auto; }
  #contents .grid-wrapper .swiper-title-wrap .swiper-title p { font-size: 2vw; line-height: 3vw; margin-top: 2vw; padding-right: 20px; }
  #contents .grid-wrapper .wrap { padding: 0 20px; }
  #contents .grid-wrapper .wrap .title-wrap { display: block; }
  #contents .grid-wrapper .wrap .title-wrap h2 { font-size: 20px; }
  #contents .grid-wrapper .wrap .title-wrap p { margin-top: 10px; padding-left: 0; margin-left: 0; border-left: none; }
  #contents .grid-wrapper .wrap .items { justify-content: space-between; }
  #contents .grid-wrapper .wrap .items.swiper-items { margin-top: 34.72vw; }
  #contents .grid-wrapper .wrap .items .item { width: calc((100% - 17px) / 2); margin-left: 0 !important; }
  #contents .grid-wrapper .wrap .items .item.swiper-slide { display: block; }
  #contents .grid-wrapper .wrap .items .item .title { font-size: 16px; margin-top: 5px; }
  #contents .grid-wrapper .wrap .items .item .subs, #contents .grid-wrapper .wrap .items .item .subs1 { font-size: 14px; line-height: 20px; }
  #contents .grid-wrapper .wrap .items .item .date { font-size: 12px; font-weight: 700; padding-top: 20px; }
  #contents .grid-wrapper .wrap .items .item .date:before { top: 9px; }
  #contents .grid-wrapper .wrap .items .item .btn-resi { line-height: 30px; font-size: 14px; margin-top: 10px; }
  #contents .grid-wrapper .wrap .swiper-wrap-arrow { margin-top: 30px; }
  #contents .grid-wrapper .wrap .swiper-wrap-arrow .swiper-pagination span { width: 10px; height: 10px; margin: 0 2px; }
  #contents .grid-wrapper.main .wrap .items .item { margin-left: 17px; }
  #contents .grid-wrapper.main .wrap .items .item:nth-child(3) { display: none; }
  #contents .grid-wrapper.main .wrap .items .item:nth-child(3) .title { margin-top: 0; }
  #contents .hu-wrapper { margin-top: 50px; }
  #contents .hu-wrapper .hu-wrap { padding: 0 20px; }
  #contents .hu-wrapper .hu-wrap .wrap { width: calc(100% - 120px); } }
.festa-image { margin-top: 30px; }

.festa-title { margin-top: 110px; font-size: 48px; font-weight: 300; letter-spacing: -0.4px; color: #012c3d; text-align: center; }

.festa-text { margin-top: 30px; font-size: 30px; font-weight: 300; letter-spacing: -0.25px; text-align: center; color: #012c3d; line-height: 42px; }

@media screen and (max-width: 960px) { .festa-title { margin-top: 50px; font-size: 20px; line-height: 30px; }
  .festa-text { margin-top: 20px; font-size: 14px; line-height: 22px; } }
.programs { width: 100%; margin-top: 80px; display: flex; justify-content: space-between; }
.programs .item { text-align: center; }
.programs .item .title { margin-top: 10px; font-size: 30px; font-weight: 500; letter-spacing: -0.25; color: #000000; }

@media screen and (max-width: 960px) { .programs { margin-top: 40px; flex-wrap: wrap; }
  .programs .item { width: calc((100% - 40px) / 2); margin-bottom: 40px; }
  .programs .item img { display: inline-block; width: 60%; }
  .programs .item .title { font-size: 16px; } }
.h-mentor { padding-top: 30px; text-align: center; font-size: 30px; font-weight: 300; letter-spacing: -0.25px; color: #000000; }

@media screen and (max-width: 768px) { .h-mentor { padding-top: 10px; font-size: 20px; line-height: 32px; } }
.view-wrapper { width: 100%; justify-content: center; margin-top: 30px; position: relative; }
.view-wrapper .wrap { width: 100%; max-width: 1200px; display: flex; }
.view-wrapper .wrap .left-items { position: relative; }
.view-wrapper .wrap .left-items .ico-like { position: absolute; top: 0; right: 0; width: 50px; height: 50px; background: url("../_images/common/ico_like.png") no-repeat center; cursor: pointer; z-index: 2; }
.view-wrapper .wrap .left-items .ico-like.on { background-image: url("../_images/common/ico_like_on.png"); }
.view-wrapper .wrap .left-items .item { width: 470px; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow { display: flex; align-items: center; justify-content: center; margin-top: 30px; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .swiper-pagination { padding: 0 30px; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .swiper-pagination span { width: 15px; height: 15px; margin: 0 5px; background: #012c3d; opacity: 0.3; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .swiper-pagination span.swiper-pagination-bullet-active { opacity: 1; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .arrow-left { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-left.png") no-repeat center; }
.view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .arrow-right { width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 100%; background: url("../_images/main/icon-right.png") no-repeat center; }
.view-wrapper .wrap .left-items .wrap { display: flex; justify-content: space-between; margin-top: 40px; }
.view-wrapper .wrap .left-items .wrap a { width: calc((100% - 10px)  / 2); font-size: 18px; font-weight: 500; line-height: 50px; border-radius: 8px; text-align: center; border: 1px solid #000000; }
.view-wrapper .wrap .left-items .wrap a:hover { color: #f94450; border-color: #f94450; }
.view-wrapper .wrap .right-items { margin-left: 6.77vw; width: calc(100% - 470px - 6.77vw); }
.view-wrapper .wrap .right-items .item .title1 { font-size: 30px; font-weight: 300; letter-spacing: -1.03px; color: #000000; margin-bottom: 40px; }
.view-wrapper .wrap .right-items .item .title2 { font-size: 14px; font-weight: 500; letter-spacing: -0.48px; color: #000000; margin-bottom: 10px; }
.view-wrapper .wrap .right-items .item .subs { font-size: 14px; font-weight: 300; letter-spacing: -0.48px; color: #454545; line-height: 22px; margin-bottom: 20px; }
.view-wrapper .wrap .right-items .program-title { font-size: 30px; font-weight: 300; letter-spacing: -1.03px; }
.view-wrapper .wrap .right-items .program-option { margin-top: 30px; }
.view-wrapper .wrap .right-items .program-option ul { margin-bottom: 10px; display: flex; flex-wrap: wrap; align-items: center; }
.view-wrapper .wrap .right-items .program-option ul li { font-size: 24px; font-weight: 500; }
.view-wrapper .wrap .right-items .program-option ul li:first-child { font-size: 16px; width: 100px; }
.view-wrapper .wrap .right-items .program-option ul li:last-child { width: calc(100% - 100px); }
.view-wrapper .wrap .right-items .program-option ul li input[type="text"], .view-wrapper .wrap .right-items .program-option ul li select { width: 200px; font-size: 14px; }
.view-wrapper .wrap .right-items .program-option ul.price { margin-bottom: 30px; }
.view-wrapper .wrap .right-items .btns { width: 100%; display: flex; justify-content: space-between; margin-top: 40px; }
.view-wrapper .wrap .right-items .btns a { width: calc((100% - 20px) / 3); border: 1px solid #000; border-radius: 8px; text-align: center; line-height: 50px; }
.view-wrapper .wrap .right-items .btns a.on { color: #f94450; border-color: #f94450; }
.view-wrapper .comment-wrap { margin-top: 80px; }
.view-wrapper .comment-wrap .title-wrap { display: flex; align-items: center; }
.view-wrapper .comment-wrap .title-wrap .comment { font-size: 16px; font-weight: 500; letter-spacing: -0.55px; color: #000000; text-align: center; margin-right: 20px; }
.view-wrapper .comment-wrap .title-wrap .star-wrap { display: flex; }
.view-wrapper .comment-wrap .title-wrap .star-wrap img { margin-right: 5px; }
.view-wrapper .comment-wrap textarea { margin-top: 30px; }
.view-wrapper .comment-wrap .bottom-wrap { display: flex; justify-content: space-between; flex-direction: row; }
.view-wrapper .comment-wrap .bottom-left { display: flex; order: 1; }
.view-wrapper .comment-wrap .bottom-left .input-wrap div { display: flex; flex-wrap: wrap; width: 340px; margin-top: 10px; }
.view-wrapper .comment-wrap .bottom-left .input-wrap input[type="text"] { width: 200px; }
.view-wrapper .comment-wrap .bottom-left .input-wrap a { width: 130px; line-height: 40px; font-size: 14px; font-weight: 500; letter-spacing: -0.59px; text-align: center; margin-left: 10px; background: #dedede; }
.view-wrapper .comment-wrap .bottom-left .add { width: 40px; height: 40px; border: 1px solid #000; background: url("../_images/common/icon-plus.png") no-repeat center; margin-top: 10px; margin-left: 10px; }
.view-wrapper .comment-wrap .bottom-right { display: flex; justify-content: space-between; order: 2; }
.view-wrapper .comment-wrap .bottom-right a { margin-left: 10px; margin-top: 10px; width: 100px; height: 40px; font-size: 16px; letter-spacing: -0.55px; text-align: center; line-height: 40px; color: #ffffff; border-radius: 8px; background: #767676; }
.view-wrapper .comment-wrap .bottom-right a.solid { background: #f94450; }
.view-wrapper .comment-wrap .bottom-right.has-none { margin-left: auto; }
.view-wrapper .sum-wrap { display: flex; margin-top: 30px; }
.view-wrapper .sum-wrap .item { width: 170px; height: 110px; margin-left: 10px; }
.view-wrapper .sum-wrap .item:first-child { margin-left: 0; }
.view-wrapper .program-detail { margin-top: 150px; }
.view-wrapper .program-detail img { width: 100%; }

@media screen and (max-width: 960px) { .view-wrapper .wrap .left-items .item { width: 48.95vw; }
  .view-wrapper .wrap .right-items .btns { display: block; margin-top: 40px; }
  .view-wrapper .wrap .right-items .btns a { display: block; width: 100%; margin-bottom: 10px; }
  .view-wrapper .program-detail { margin-top: 100px; } }
@media screen and (max-width: 768px) { .view-wrapper .wrap { display: block; }
  .view-wrapper .wrap .left-items .item { width: 100%; }
  .view-wrapper .wrap .left-items .item img { width: 100%; }
  .view-wrapper .wrap .left-items .ui .swiper-wrap-arrow .swiper-pagination span { width: 10px; height: 10px; margin: 0 2px; }
  .view-wrapper .wrap .left-items .wrap { display: flex; justify-content: space-between; margin-top: 40px; }
  .view-wrapper .wrap .left-items .wrap a { font-size: 14px; line-height: 40px; }
  .view-wrapper .wrap .right-items { width: 100%; margin-left: 0; margin-top: 40px; }
  .view-wrapper .wrap .right-items .item .title1 { font-size: 24px; margin-bottom: 20px; }
  .view-wrapper .wrap .right-items .item .subs { font-size: 12px; line-height: 18px; margin-bottom: 20px; }
  .view-wrapper .wrap .right-items .btns { display: flex; margin-top: 20px; }
  .view-wrapper .wrap .right-items .btns a { width: calc((100% - 20px) / 3); line-height: 40px; font-size: 12px; }
  .view-wrapper .comment-wrap { margin-top: 40px; }
  .view-wrapper .comment-wrap .title-wrap .comment { font-size: 14px; }
  .view-wrapper .comment-wrap .title-wrap .star-wrap { display: flex; }
  .view-wrapper .comment-wrap .title-wrap .star-wrap img { width: 20px; margin-right: 5px; }
  .view-wrapper .comment-wrap textarea { height: 150px; margin-top: 20px; }
  .view-wrapper .comment-wrap .bottom-wrap { display: block; }
  .view-wrapper .comment-wrap .bottom-left { margin-top: 20px; }
  .view-wrapper .comment-wrap .bottom-left .input-wrap { width: calc(100% - 50px); }
  .view-wrapper .comment-wrap .bottom-left .input-wrap div { width: 100%; }
  .view-wrapper .comment-wrap .bottom-left .input-wrap input[type="text"] { width: calc(100% - 140px); }
  .view-wrapper .comment-wrap .bottom-right { margin-top: 20px; }
  .view-wrapper .comment-wrap .bottom-right a { width: calc((100% - 10px) / 2); margin: 0; }
  .view-wrapper .sum-wrap { margin-top: 15px; }
  .view-wrapper .sum-wrap .item { margin-left: 5px; }
  .view-wrapper .program-detail { margin-top: 50px; } }
#map { width: 100%; height: 500px; background: #d8d8d8; margin-top: 30px; }

.addr { margin: 30px 0; font-size: 16px; font-weight: 500; letter-spacing: -0.13px; color: #000000; }

@media screen and (max-width: 960px) { #map { height: 300px; }
  .addr { margin: 20px 0; font-size: 14px; } }
.sub-tab { display: flex; margin-top: 45px; }
.sub-tab a { width: 170px; text-align: center; line-height: 50px; border: 1px solid #e5e5e5; color: #454545; border-radius: 45px; margin-right: 10px; }
.sub-tab a.on { border: none; background: #f94450; color: #fff; }

.basket-wrap { border-top: 2px solid #000; }
.basket-wrap .item { padding: 30px 0; display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #e5e5e5; }
.basket-wrap .item .checks { width: 80px; display: flex; justify-content: center; }
.basket-wrap .item .checks input[type="checkbox"] + label { height: 20px; padding: 0; width: 20px; }
.basket-wrap .item .text { width: calc(100% - 674px); padding-left: 30px; font-size: 16px; }
.basket-wrap .item .text p { margin-bottom: 15px; }
.basket-wrap .item .text p.sum { display: flex; align-items: center; }
.basket-wrap .item .text p .num { font-weight: 500; margin-right: 10px; }
.basket-wrap .item .text p .plus { width: 24px; height: 24px; border: 1px solid #e5e5e5; border-radius: 4px; background: url("../_images/common/icon-plus.png") no-repeat center; display: block; margin-right: 5px; }
.basket-wrap .item .text p .minus { width: 24px; height: 24px; border: 1px solid #e5e5e5; border-radius: 4px; background: url("../_images/common/icon-minus.png") no-repeat center; display: block; margin-right: 15px; }
.basket-wrap .item .text p em { color: #f94450; }
.basket-wrap .item .price { align-self: stretch; display: flex; align-items: center; justify-content: center; width: 190px; font-size: 24px; color: #454545; font-weight: 500; border-left: 1px solid #e5e5e5; }
.basket-wrap .item .price em { font-size: 16px; }
.basket-wrap .item .btns { align-self: stretch; width: 170px; padding-left: 20px; border-left: 1px solid #e5e5e5; }
.basket-wrap .item .btns a { display: block; width: 100%; border: 1px solid #e5e5e5; border-radius: 8px; text-align: center; color: #454545; font-size: 16px; line-height: 38px; margin-top: 10px; }
.basket-wrap .item .btns a.solid { color: #fff; background: #f94450; }
.basket-wrap .item .btns a:first-child { margin-top: 0; }
.basket-wrap .item .btns .btn { display: flex; height: 100%; align-items: center; }
.basket-wrap .total { padding: 50px 0; display: flex; justify-content: flex-end; align-items: center; border-bottom: 1px solid #e5e5e5; }
.basket-wrap .total .sum { font-size: 24px; font-weight: 500; color: #f94450; }
.basket-wrap .total .solid { width: 170px; line-height: 40px; color: #fff; background: #f94450; text-align: center; border-radius: 8px; margin-left: 30px; }

@media screen and (max-width: 960px) { .basket-wrap .item { padding: 20px 0; display: flex; justify-content: flex-start; flex-wrap: wrap; }
  .basket-wrap .item .checks { width: 50px; }
  .basket-wrap .item .text { width: calc(100% - 262px); padding-left: 20px; font-size: 12px; }
  .basket-wrap .item .price { align-self: center; border: none; border-top: 1px solid #e5e5e5; width: 100%; height: 60px; margin-top: 20px; }
  .basket-wrap .item .btns { align-self: center; width: 100%; padding-left: 0; border-left: none; border-top: 1px solid #e5e5e5; padding: 10px 0 30px; display: flex; justify-content: space-between; }
  .basket-wrap .item .btns a { width: calc((100% - 20px) / 3); margin-top: 0; font-size: 12px; }
  .basket-wrap .item .btns .btn { width: 100%; display: flex; height: 100%; align-items: center; justify-content: center; } }
@media screen and (max-width: 768px) { .sub-tab { margin-top: 25px; flex-wrap: wrap; }
  .sub-tab a { width: calc((100% - 15px) / 3); line-height: 30px; margin-right: 5px; margin-bottom: 5px; font-size: 12px; }
  .sub-tab a.on { border: none; background: #f94450; color: #fff; }
  .basket-wrap .item .image img { width: 40vw; }
  .basket-wrap .item .checks { width: 50px; }
  .basket-wrap .item .text { width: calc(100% - 60vw); padding-left: 10px; font-size: 12px; }
  .basket-wrap .item .text p { margin-bottom: 5px; flex-wrap: wrap; }
  .basket-wrap .item .text p em { width: 100%; line-height: 18px; }
  .basket-wrap .item .price { align-self: center; border: none; border-top: 1px solid #e5e5e5; width: 100%; height: 60px; margin-top: 20px; }
  .basket-wrap .item .btns { align-self: center; width: 100%; padding-left: 0; border-left: none; border-top: 1px solid #e5e5e5; padding: 10px 0 30px; display: flex; justify-content: space-between; }
  .basket-wrap .item .btns a { width: calc((100% - 20px) / 3); margin-top: 0; font-size: 12px; }
  .basket-wrap .item .btns .btn { width: 100%; display: flex; height: 100%; align-items: center; justify-content: center; }
  .basket-wrap .total { padding: 25px 0; }
  .basket-wrap .total .sum { font-size: 16px; }
  .basket-wrap .total .solid { width: 120px; line-height: 40px; margin-left: 20px; } }
.h-wrapper { display: flex; align-items: center; margin-top: 40px; margin-bottom: 30px; }
.h-wrapper h3 { margin: 0; }
.h-wrapper a { margin-left: 10px; line-height: 30px; border: 1px solid #e5e5e5; border-radius: 4px; text-align: center; color: #454545; display: block; padding: 0 20px; }
.h-wrapper a.solid { border: none; color: #fff; background: #f94450; }
.h-wrapper a.down-load { background: #33dc9e; color: #fff; margin-left: auto; border: none; }
.h-wrapper a.down-load.left { margin-left: 10px; }

@media screen and (max-width: 768px) { .h-wrapper { margin-top: 20px; margin-bottom: 20px; flex-wrap: wrap; justify-content: space-between; }
  .h-wrapper h3 { width: 100%; margin-bottom: 20px; }
  .h-wrapper a { margin-left: 0; width: calc((100% - 10px) / 2); }
  .h-wrapper a.right { width: 100%; }
  .h-wrapper a.down-load { width: 100%; margin-top: 10px; }
  .h-wrapper a.down-load.left { margin-left: 0; } }
.table-list { border-top: 2px solid #000; }
.table-list ul { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #e5e5e5; padding: 0 10px; }
.table-list ul li { line-height: 50px; color: #767676; }
.table-list ul li a { font-size: 16px; font-weight: 500; color: #000; }
.table-list ul li a.form-btn { display: block; text-align: center; line-height: 40px; width: 70px; color: #454545; background: #dedede; }

@media screen and (max-width: 768px) { .table-list ul { flex-wrap: wrap; padding: 10px; }
  .table-list ul li { font-size: 12px; line-height: 25px; }
  .table-list ul li:nth-child(1) { width: 100%; }
  .table-list ul li:last-child { width: 100%; }
  .table-list ul li a { font-size: 14px; }
  .table-list ul li a.form-btn { line-height: 30px; width: 100%; font-size: 12px; } }
