/*   Main   */
/* form */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
select { width: 250px; /*padding: .58em .5em;  */ padding-left: 15px; font-family: inherit; border: 1px solid #ccc; background: url(../_images/_form/select.png) no-repeat right center #fff; background-size: contain; vertical-align: middle; height: 45px; border-radius: 0px; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select::-ms-expand { display: none; }

@media screen and (max-width: 960px) { select { padding-left: 10px; height: 40px; } }
input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 43px; height: 45px; text-indent: 20px; width: 400px; font-size: 20px; border: 1px solid #ccc; vertical-align: middle; padding-left: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { input[type="text"], input[type="password"], input[type="tel"], input[type="email"] { line-height: 38px; height: 40px; text-indent: 10px; font-size: 16px; } }
input[type="button"] { height: 30px; line-height: 30px; background: #f94450; color: #fff; text-align: center; min-width: 130px; border: none; font-size: 14px; cursor: pointer; margin: 0 2px; -moz-appearance: none; -webkit-appearance: none; }

a.file { background: url(../_images/common/btn_file.png) no-repeat 10px center; line-height: 28px; color: #f94450; padding-left: 35px; padding-right: 10px; display: inline-block; }

textarea { width: 100%; height: 350px; padding: 20px; border: 1px solid #e5e5e5; color: #666; margin-top: 40px; line-height: 24px; vertical-align: baseline; -moz-appearance: none; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 960px) { a.file { font-size: 12px; padding-left: 30px; }
  textarea { height: 220px; padding: 15px; margin-top: 10px; line-height: 17px; font-size: 12px; } }
.checks input[type="radio"], .checks input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.checks input[type="radio"]:focus, .checks input[type="checkbox"]:focus { width: 20px; height: 20px; outline: solid; }
.checks input[type="radio"]:focus + label, .checks input[type="checkbox"]:focus + label { border: 1px dotted #000; }
.checks input[type="radio"] + label { display: inline-block; position: relative; padding-left: 35px; cursor: pointer; color: #666; min-width: 0; line-height: 25px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; margin-right: 40px; position: relative; }
.checks input[type="radio"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 25px; height: 25px; vertical-align: middle; margin-right: 10px; background: url(../_images/_form/radio.png) no-repeat left bottom; }
.checks input[type="radio"] + label:last-of-type { margin: 0; }
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-left: 35px; cursor: pointer; color: #666; min-width: 0; line-height: 25px; text-align: left; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.checks input[type="checkbox"] + label:before { position: absolute; left: 0; top: 0; display: inline-block; content: ""; width: 25px; height: 25px; vertical-align: top; margin-right: 10px; background: url(../_images/_form/checkbox.png) no-repeat left bottom; }
.checks input[type="radio"]:checked + label:before, .checks input[type="checkbox"]:checked + label:before { background-position: left top; }

@media screen and (max-width: 960px) { .checks input[type="radio"] + label, .checks input[type="checkbox"] + label { padding-left: 30px; font-size: 12px; line-height: 20px; }
  .checks input[type="radio"] + label:before, .checks input[type="checkbox"] + label:before { height: 20px; width: 20px; background-size: 20px; }
  .checks input[type="radio"] + label { margin-right: 30px; }
  .checks input[type="radio"] + label:last-of-type { margin: 0; } }
input[type="file"] { padding: 0; margin: 0px; background: #f5f5f5; border: 1px solid #e5e5e5; width: 400px; }

input[type="file"]::-webkit-file-upload-button { appearance: none; -webkit-appearance: none; -moz-appearance: none; box-sizing: border-box; color: #fff; border: 0; background: #343f4e; line-height: 45px; margin: 0px; width: 100px; cursor: pointer; }

input[type="file"]::-ms-value { border: 0; height: 45px; }

input[type="file"]::-ms-browse { color: #fff; border: 0; background: #343f4e; width: 100px; }

@media screen and (max-width: 960px) { input[type="file"] { width: 100%; } }
/* table */
table { border-top: 2px solid #333; text-align: left; width: 100%; }
table th { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; color: #333; font-weight: 500; background: #f6f6f6; vertical-align: middle; line-height: 18px; font-size: 16px; }
table th button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table td { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; padding: 17px 20px; vertical-align: middle; line-height: 18px; }
table td button { line-height: 16px; background: #7c7c7c; color: #fff; min-width: 60px; text-align: center; border: none; font-weight: 700; padding: 0 10px; cursor: pointer; vertical-align: middle; }
table th.center, table td.center { text-align: center; padding: 17px 10px; }
table th.right, table td.right { text-align: right; padding: 17px 20px; }
table th:last-child, table td:last-child { border-right: none; }
table th.boR, table td.boR { border-right: 1px solid #e5e5e5; }
table tfoot td { background: rgba(51, 220, 158, 0.08); }

table.center { text-align: center; }
table.center th, table.center td { padding: 17px 10px; }
table.center th.left, table.center td.left { text-align: left; padding: 17px 20px; }
table.center th.right, table.center td.right { text-align: right; padding: 17px 20px; }

/******************************     TABLE SCROLL     ******************************/
.table_inner.scroll { position: relative; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }

.table_inner.scroll table { width: 1840px; }

.msg_touch_help { position: absolute; top: 50%; left: 50%; display: block; width: 80px; height: 80px; margin-top: -40px; margin-left: -40px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.msg_touch_help img { width: 80px; height: 80px; }

/* Font - Noto Sans KR */
/* Font - Roboto */
/* Layout */
.container-full { width: 100%; }

.container { width: 1200px; margin: 0 auto; }

/* ListStyle */
.list-style01 { margin-top: 20px; }
.list-style01 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 10px; font-size: 14px; font-weight: normal; }

.list-style02 { margin-top: 20px; }
.list-style02 > li { line-height: 35px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 15px; font-size: 14px; }
.list-style02 > li p { font-weight: normal; line-height: 24px; }

.list-style03 { margin-top: 20px; }
.list-style03 > li { font-size: 14px; list-style: decimal; margin-left: 20px; line-height: 24px; margin-bottom: 10px; }

.list-style04 { margin-top: 20px; }
.list-style04 > li { position: relative; padding-left: 25px; line-height: 24px; font-size: 14px; }
.list-style04 > li span { position: absolute; top: 0; left: 0; font-size: 16px; }

.list-style05 { margin-top: 20px; }
.list-style05 > li { position: relative; padding-left: 40px; margin-bottom: 10px; font-size: 14px; }
.list-style05 > li span { position: absolute; top: 0; left: 0; color: #33dc9e; padding-right: 10px; border-right: 1px solid #e5e5e5; }

@media screen and (max-width: 960px) { .list-style01 { margin-top: 10px; }
  .list-style01 > li { line-height: 18px; padding-left: 8px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 7px; font-size: 12px; margin-bottom: 5px; }
  .list-style01 > li span { font-size: 12px; }
  .list-style02 { margin-top: 10px; }
  .list-style02 > li { line-height: 24px; padding-left: 10px; text-align: left; background: url("../_images/common/bu_box.png") no-repeat 0 9px; font-size: 12px; }
  .list-style02 > li p { font-size: 12px; line-height: 17px; margin-bottom: 10px; }
  .list-style03 { margin-top: 10px; }
  .list-style03 > li { font-size: 12px; margin-left: 10px; line-height: 17px; margin-bottom: 5px; }
  .list-style04 { margin-top: 10px; }
  .list-style04 > li { position: relative; padding-left: 20px; line-height: 17px; font-size: 12px; margin-bottom: 5px; }
  .list-style04 > li span { font-size: 12px; }
  .list-style05 { margin-top: 10px; }
  .list-style05 > li { font-size: 12px; margin-left: 15px; line-height: 17px; margin-bottom: 5px; } }
/* Responsive */
.mobile-only { display: none !important; }

@media screen and (max-width: 960px) { .mobile-hide { display: none !important; }
  .mobile-only { display: block !important; } }
.point { color: #f94450 !important; }

/*  GNB  */
header { position: sticky; top: 0; z-index: 100; }
header .util-wrapper { width: 100%; border-bottom: 1px solid #e5e5e5; display: flex; justify-content: center; background: #fff; }
header .util-wrapper .wrap { width: 100%; padding: 0 15px; max-width: 1200px; display: flex; justify-content: space-between; }
header .util-wrapper .wrap .site { display: flex; }
header .util-wrapper .wrap .site a { width: 120px; line-height: 30px; background-color: rgba(1, 44, 61, 0.1); font-size: 14px; color: #767676; letter-spacing: -0.57px; text-align: center; }
header .util-wrapper .wrap .site a.on { background: #012c3d; color: #fff; font-weight: 500; }
header .util-wrapper .wrap .util a { color: #767676; padding: 0 10px; line-height: 30px; }
header .gnb-wrapper { width: 100%; display: flex; justify-content: center; background: #fff; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
header .gnb-wrapper .wrap { width: 100%; padding: 0 15px; max-width: 1200px; display: flex; align-items: flex-end; }
header .gnb-wrapper .wrap h1 { width: 150px; height: 80px; }
header .gnb-wrapper .wrap h1 a { display: block; width: 100%; height: 100%; background: url("../_images/common/ci.png") no-repeat 0 0/cover; }
header .gnb-wrapper .wrap .gnb { display: flex; margin-left: 20px; }
header .gnb-wrapper .wrap .gnb dl { margin-left: 50px; position: relative; }
header .gnb-wrapper .wrap .gnb dl dt a { display: block; width: 100%; height: 100%; font-size: 18px; color: #000; font-weight: 500; padding-bottom: 20px; }
header .gnb-wrapper .wrap .gnb dl div { display: none; position: absolute; left: -20px; top: 30px; background: #012c3d; width: 200px; padding: 20px 0; overflow: hidden; z-index: 10; }
header .gnb-wrapper .wrap .gnb dl div dd { line-height: 40px; padding-left: 20px; color: #fff; font-size: 16px; }
header .gnb-wrapper .wrap .gnb dl div dd ul li { font-size: 14px; padding-left: 10px; line-height: 30px; color: #bbb; }
header .gnb-wrapper .wrap .gnb .mobile-util { display: none; }
header .mobile-gnb-wrapper { display: none; }

@media screen and (max-width: 768px) { header { background: #fff; }
  header .util-wrapper { border: none; }
  header .util-wrapper .wrap { width: 100%; padding: 0; }
  header .util-wrapper .wrap .site { display: flex; width: 100%; }
  header .util-wrapper .wrap .site a { width: 50%; }
  header .util-wrapper .wrap .util { display: none; }
  header .gnb-wrapper { display: none; }
  header .mobile-gnb-wrapper { display: block; }
  header .mobile-gnb-wrapper .mobile-top { width: 100%; display: flex; justify-content: space-between; }
  header .mobile-gnb-wrapper .mobile-top h1 { width: 150px; height: 60px; }
  header .mobile-gnb-wrapper .mobile-top h1 a { display: block; width: 100%; height: 100%; background: url("../_images/common/ci.png") no-repeat 0 0/cover; background-size: 70px; background-position: center left; margin-left: 20px; }
  header .mobile-gnb-wrapper .mobile-top .mobile-menu { width: 60px; height: 60px; display: block; background: url("../_images/common/btn-menu.png") no-repeat center; }
  header .mobile-gnb-wrapper .wrap { padding: 0 20px; }
  header .mobile-gnb-wrapper .wrap .gnb { display: none; margin-left: 0; position: absolute; left: 0; top: 0; width: 100vw; height: 100vh; overflow: scroll; background: #fff; }
  header .mobile-gnb-wrapper .wrap .gnb dl { margin-left: 0; position: relative; }
  header .mobile-gnb-wrapper .wrap .gnb dl dt a { font-size: 16px; color: #000; font-weight: 500; padding: 15px 20px; line-height: 40px; }
  header .mobile-gnb-wrapper .wrap .gnb dl div { display: block; position: relative; left: 0; top: 0; background: #f1f1f1; width: 100%; padding: 20px 0; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd { line-height: 30px; padding-left: 20px; color: #111; font-size: 14px; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd ul { display: flex; flex-wrap: wrap; }
  header .mobile-gnb-wrapper .wrap .gnb dl div dd ul li { font-size: 12px; padding-left: 10px; line-height: 30px; color: #454545; width: 50%; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util { width: 100%; padding: 10px 0; border-bottom: 1px solid #e5e5e5; display: flex; justify-content: space-between; align-items: flex-start; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .wrap { display: block; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .wrap a { display: block; line-height: 30px; }
  header .mobile-gnb-wrapper .wrap .gnb .mobile-util .close { display: block; width: 60px; height: 60px; background: url("../_images/common/btn-menu-close.png") no-repeat center; margin-right: 10px; } }
/*  FOOTER  */
footer { background-color: #012c3d; display: flex; justify-content: center; padding: 40px 0; margin-top: 100px; }
footer .wrap { width: 100%; max-width: 1200px; padding: 0 15px; display: flex; align-items: center; }
footer .wrap .footer_ci { width: 120px; height: 52px; background: url("../_images/main/footer-ci.png") no-repeat 0 0; }
footer .wrap .txt_wrap { margin-left: 80px; font-size: 14px; color: #ccc; font-weight: 300; }
footer .wrap .txt_wrap .copy_wrap { align-items: center; height: 24px; display: flex; }
footer .wrap .txt_wrap .copy_wrap p { border-left: 1px solid #979797; margin-left: 10px; padding-left: 10px; }
footer .wrap .txt_wrap .copy_wrap p:first-child { border: none; margin: 0; padding: 0; }
footer .mobile-footer { display: none; }

@media screen and (max-width: 768px) { footer { margin-top: 60px; }
  footer .wrap { display: none; }
  footer .mobile-footer { display: block; font-size: 10px; color: #ccc; } }
/* Board */
.board { /*.search{
	border: 1px solid $lineColor;
	text-align: center;
	padding: 21px 0;
	select{
		vertical-align: middle;
		width: 120px;
	}
	input[type="text"]{
		width: 260px;
		height: 34px;
		line-height: 32px;
		margin-left: 5px;
	}
	.btn-search{
		background: url(../_images/common/header_form_search.png) no-repeat 20px 10px #1c2733;
		height: 34px;
		padding: 0 20px 0 40px;
		margin-left: 5px;
		vertical-align: middle;
		color: #fff;
	}
}*/ border-top: 2px solid #434446; }
.board.list ul { display: flex; border-bottom: 1px solid #e5e5e5; width: 100%; }
.board.list ul li { line-height: 50px; }
.board.list ul li.title { width: calc(100% - 90px); font-size: 16px; font-weight: 500; color: #000; text-indent: 10px; letter-spacing: -0.33px; }
.board.list ul li.title a { width: 100%; display: block; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
.board.list ul li.title a:hover { color: #f94450; }
.board.list ul li.date { width: 90px; font-size: 14px; font-weight: 500; letter-spacing: -0.29px; text-align: center; color: #767676; }
.board .board-view-top { padding: 30px 0; border-bottom: 1px solid #e5e5e5; }
.board .board-view-top .title { font-size: 26px; color: #000; text-align: center; font-weight: 700; margin-bottom: 20px; letter-spacing: -0.2px; }
.board .board-view-top .date { font-size: 16px; font-weight: 500; letter-spacing: -0.33px; text-align: center; color: #000; }
.board .board-view-con { padding: 50px; line-height: 22px; border-bottom: 1px solid #e5e5e5; }
.board .board-view-con img { width: 100%; }
.board .btn-wrap { text-align: center; padding-top: 40px; }
.board .btn-wrap a { display: inline-block; width: 100px; text-align: center; color: #454545; line-height: 50px; border: 1px solid #e5e5e5; border-radius: 8px; margin: 0 5px; font-size: 16px; }
.board .btn-wrap a.solid { background: #f94450; color: #fff; border: none; }
.board.thumb .items { padding-top: 30px; width: 100%; display: flex; flex-wrap: wrap; }
.board.thumb .items .item { width: calc((100% - 60px) / 3); margin-left: 30px; margin-bottom: 60px; }
.board.thumb .items .item:nth-child(3n+1) { margin-left: 0; }
.board.thumb .items .item img { width: 100%; }
.board.thumb .items .item .title { margin-top: 20px; font-size: 18px; font-weight: 500; letter-spacing: -0.15px; color: #000000; }
.board.thumb .items .item .date { margin-top: 5px; font-size: 14px; font-weight: 500; line-height: 22px; letter-spacing: -0.12px; color: #454545; }
.board.faq { border-top: none; }
.board.faq table { border-top: 2px solid #000; }
.board.faq table tr.q { cursor: pointer; }
.board.faq table tr.q .cate { width: 50px; font-size: 16px; font-weight: 500; color: #f94450; letter-spacing: -0.33px; text-align: center; background: #eeeeee; }
.board.faq table tr.q .title { width: calc(100% - 50px); font-size: 16px; font-weight: 500; letter-spacing: -0.33px; color: #000000; }
.board.faq table tr.a { display: none; }
.board.faq table tr.a .cate { width: 50px; font-size: 16px; font-weight: 500; color: #33dc9e; letter-spacing: -0.33px; text-align: center; background: #eeeeee; }
.board.faq table tr.a .text { width: calc(100% - 50px); font-size: 14px; line-height: 1.71; letter-spacing: -0.59px; color: #454545; background: #eeeeee; }

@media screen and (max-width: 960px) { .board.list ul li { line-height: 40px; }
  .board.list ul li.title { font-size: 14px; }
  .board.list ul li.date { width: 90px; font-size: 12px; }
  .board .board-view-top { padding: 20px 0; }
  .board .board-view-top .title { font-size: 20px; margin-bottom: 10px; line-height: 28px; }
  .board .board-view-top .date { font-size: 12px; }
  .board .board-view-con { padding: 20px; line-height: 22px; border-bottom: 1px solid #e5e5e5; }
  .board .btn-wrap { padding-top: 20px; }
  .board .btn-wrap a { width: 80px; line-height: 40px; font-size: 12px; }
  .board.thumb .items { justify-content: space-between; }
  .board.thumb .items .item { width: calc((100% - 30px) / 2); margin-left: 30px; }
  .board.thumb .items .item:nth-child(2n+1) { margin-left: 0; }
  .board.faq { border-top: none; }
  .board.faq table { border-top: 2px solid #000; }
  .board.faq table tr.q .cate { font-size: 14px; line-height: 22px; }
  .board.faq table tr.q .title { width: calc(100% - 50px); font-size: 14px; line-height: 22px; }
  .board.faq table tr.a .cate { font-size: 14px; line-height: 22px; }
  .board.faq table tr.a .text { font-size: 14px; line-height: 22px; } }
@media screen and (max-width: 768px) { .board.thumb .items .item { width: 100%; margin-left: 0; margin-bottom: 30px; }
  .board.thumb .items .item .title { font-size: 14px; }
  .board.thumb .items .item .date { font-size: 12px; } }
/* paging */
#paging { display: flex; width: 100%; justify-content: center; margin-top: 60px; }
#paging .wrap { display: flex; align-items: center; }
#paging .wrap a { line-height: 40px; text-align: center; width: 40px; height: 40px; }
#paging .wrap a.page_ll { margin-right: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-ll.png") no-repeat center; }
#paging .wrap a.page_l { margin-right: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-left.png") no-repeat center; }
#paging .wrap a.page_r { margin-left: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-right.png") no-repeat center; }
#paging .wrap a.page_rr { margin-left: 10px; border: solid 1px #ccc; border-radius: 100%; background: url("../_images/common/icon-rr.png") no-repeat center; }
#paging .wrap a.on { font-weight: 500; color: #f94450; }

@media screen and (max-width: 960px) { #paging { margin-top: 40px; }
  #paging .wrap a { line-height: 30px; width: 30px; height: 30px; }
  #paging .wrap a.page_ll, #paging .wrap a.page_l, #paging .wrap a.page_r, #paging .wrap a.page_rr { background-size: 15px; } }
#modal-wrap { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 100; left: 0; top: 0; display: none; }
#modal-wrap .modal-con { position: absolute; left: 50%; top: 50%; background: #fff; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#modal-wrap .modal-con .modal-close { display: block; width: 96px; height: 96px; position: absolute; top: 0; right: 0; background: url(../_images/common/modal_close.png) no-repeat center; text-indent: -9999px; }

.modal-sitemap { width: 1120px; }
.modal-sitemap .top p { font-size: 40px; font-weight: 100; color: #fff; line-height: 96px; text-indent: 50px; background: #f94450; }
.modal-sitemap .sitemap-con { padding: 0 50px 50px; width: 100%; height: 600px; overflow-y: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.modal-sitemap .sitemap-con .menu { padding: 50px 0 30px 0; border-bottom: 1px solid #e5e5e5; }
.modal-sitemap .sitemap-con .menu .title { font-size: 30px; font-weight: 100; color: #111; }
.modal-sitemap .sitemap-con .menu ul { margin-top: 30px; }
.modal-sitemap .sitemap-con .menu ul:after { content: ""; display: block; clear: both; }
.modal-sitemap .sitemap-con .menu ul > li { float: left; width: 25%; }
.modal-sitemap .sitemap-con .menu ul > li > a { font-size: 18px; font-weight: 700; color: #f94450; }
.modal-sitemap .sitemap-con .menu ul > li ul { margin-top: 15px; }
.modal-sitemap .sitemap-con .menu ul > li ul li { float: none; width: 100%; }
.modal-sitemap .sitemap-con .menu ul > li ul li a { font-size: 14px; color: #666; line-height: 24px; font-weight: 300; }

.modal-social { width: 390px; }
.modal-social .top p { font-size: 40px; font-weight: 100; color: #fff; line-height: 96px; text-indent: 50px; background: #f94450; }
.modal-social .social-con { padding: 30px 0; width: 100%; text-align: center; }
.modal-social .social-con a { display: inline-block; margin: 0 10px; padding-top: 55px; min-width: 45px; }
.modal-social .social-con a.facebook { background: url(../_images/common/sns_facebook.png) no-repeat top center; }
.modal-social .social-con a.twitter { background: url(../_images/common/sns_twitter.png) no-repeat top center; }
.modal-social .social-con a.blog { background: url(../_images/common/sns_blog.png) no-repeat top center; }
.modal-social .social-con a.url { background: url(../_images/common/sns_url.png) no-repeat top center; }

.sub-top { width: 100%; display: flex; justify-content: center; position: relative; height: 266px; }
.sub-top .left-box { width: 61.56vw; height: 220px; background: #f94450; position: absolute; left: 0; z-index: -1; }
.sub-top .right-box { width: 49.06vw; height: 140px; background: url("../_images/common/sub-top01.png") no-repeat; position: absolute; top: 126px; right: 0; box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.25); }
.sub-top .text-wrap { width: 100%; max-width: 1200px; padding: 0 15px; }
.sub-top .text-wrap .title { height: 45px; font-size: 30px; font-weight: 500; color: #fff; margin-top: 50px; margin-left: 200px; letter-spacing: -0.2px; }
.sub-top .text-wrap .sub-title { height: 48px; font-size: 16px; font-weight: 300; color: #fff; margin-top: 5px; margin-left: 200px; line-height: normal; letter-spacing: -0.11px; }

.cs .sub-top .right-box { background-image: url("../_images/common/sub_top_notice.png"); }

@media screen and (max-width: 960px) { .sub-top { height: calc(20vw + 20px); }
  .sub-top .left-box { width: 90vw; height: 20vw; }
  .sub-top .right-box { width: 90vw; height: 20vw; background-size: contain; background-position: 20px 30%; background-color: #33dc9e; top: 20px; }
  .sub-top .text-wrap { display: none; } }
h2 { margin-top: 60px; margin-bottom: 30px; font-size: 30px; font-weight: 300; letter-spacing: -0.25px; color: #000; }

h3 { margin-top: 60px; margin-bottom: 30px; font-size: 24px; font-weight: 500; letter-spacing: -0.2px; color: #000; }

@media screen and (max-width: 960px) { h2 { margin-top: 40px; margin-bottom: 20px; font-size: 20px; }
  h3 { margin-top: 30px; font-size: 18px; } }
.sub-con-wrap { width: 100%; max-width: 1200px; margin: 0 auto; padding: 0 15px; }
.sub-con-wrap strong { font-weight: 500; }

.festa-title { margin-top: 110px; font-size: 48px; font-weight: 300; letter-spacing: -0.4px; color: #012c3d; text-align: center; }

.festa-text { margin-top: 30px; font-size: 30px; font-weight: 300; letter-spacing: -0.25px; text-align: center; color: #012c3d; line-height: 42px; }

@media screen and (max-width: 960px) { .festa-title { margin-top: 50px; font-size: 20px; line-height: 30px; }
  .festa-text { margin-top: 20px; font-size: 14px; line-height: 22px; } }
.programs { width: 100%; margin-top: 80px; display: flex; justify-content: space-between; }
.programs .item .title { margin-top: 10px; text-align: center; font-size: 30px; font-weight: 500; letter-spacing: -0.25; color: #000000; }

#map { width: 100%; height: 500px; background: #d8d8d8; }

.addr { margin: 30px 0; font-size: 16px; font-weight: 500; letter-spacing: -0.13px; color: #000000; }

@media screen and (max-width: 960px) { #map { height: 300px; }
  .addr { margin: 20px 0; font-size: 14px; } }
